Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json

fix(angular-3d): resolve initialization timeout and implement global loading
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/angular-three-foundation.service.ts
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
Due: prettier --write, eslint --fix

fix(angular-3d): resolve white screen and mesh retrieval issues
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/float-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/glow-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/performance-3d.directive.ts
  apps/dev-brand-ui/src/index.html
Due: prettier --write, eslint --fix

fix(angular-3d): enhanced app loading + robust store access
  apps/dev-brand-ui/src/app/core/angular-3d/services/angular-three-foundation.service.ts
  apps/dev-brand-ui/src/index.html
Due: prettier --write, eslint --fix

chore: checkpoint before starting new task - radical Angular 3D simplification
  .claude/settings.local.json
  ANGULAR_THREE_DATA_PROJECTION_FIX.md
  ELEMENT3D_FIX_REPORT.md
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene-graph.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/background-cube.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/cylinder.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/floating-sphere.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/torus.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-graph/scene-node.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/element-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/float-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/glow-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/performance-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/angular-three-foundation.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/angular-three.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/content-texture-pipeline.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/hybrid-ui.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/scene-config.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/dom-texture-renderer.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-cache.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-factory.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-loader.service.ts
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/services/loading-state.service.ts
  apps/dev-brand-ui/src/index.html
  log.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(angular-3d): initialize TASK_2025_015 - radical architecture simplification
  task-tracking/TASK_2025_015/context.md
  task-tracking/registry.md
Due: prettier --write

refactor: fix the hero section
  ANGULAR_THREE_DATA_PROJECTION_FIX.md
  HERO_SCENE_SYSTEMATIC_ENHANCEMENTS.md
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene-graph.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/floating-sphere.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/hybrid-text-mesh.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/particle-system.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/text-mesh-simple.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-3d.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-graph/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-graph/scene-node.component.css
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-graph/scene-node.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/element-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/float-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/glow-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/mouse-parallax-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/angular-three.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/content-texture-pipeline.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/hybrid-ui.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/scene-config.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/test/angular-three-test.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/components/three-d-info-card.component.ts.bak
  apps/dev-brand-ui/src/app/features/landing-page/sections/ecosystem-explorer.component.ts.bak
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section-old.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/index.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/libraries-showcase.component.ts.bak
  task-tracking/TASK_2025_015/implementation-plan.md
  task-tracking/TASK_2025_015/progress.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

refactor: 3d hero section
  ELEMENT3D_FIX_REPORT.md
  HERO_3D_IMPROVEMENTS.md
  HERO_3D_REFACTOR_PLAN.md
  SCROLL_ANIMATION_DEBUG_GUIDE.md
  apps/dev-brand-api/package.json
  apps/dev-brand-ui/src/app/core/angular-3d/components/hybrid-scene.component.css
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/background-cubes.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/box.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/hybrid-text-mesh.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/polyhedron.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/text-3d.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/text-mesh-simple.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/scene-3d.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/scroll-animation.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/dom-texture-renderer.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/index.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-cache.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-factory.service.ts
  apps/dev-brand-ui/src/app/core/angular-3d/services/texture/texture-loader.service.ts
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.backup.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  landing-page-updates.md
  package-lock.json
  package.json
  task-tracking/architectural-refactor-plan.md
Due: prettier --write, eslint --fix

chore: checkpoint before starting new task - landing page sections rebuild
  HERO_3D_IMPROVEMENTS.md
  HERO_3D_REFACTOR_PLAN.md
  HERO_SCENE_SYSTEMATIC_ENHANCEMENTS.md
  SCROLL_ANIMATION_DEBUG_GUIDE.md
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/text-3d.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/components/fullpage-navigation.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/components/three-d-info-card.component.ts.bak
  apps/dev-brand-ui/src/app/features/landing-page/landing-page-shell.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.backup.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section-old.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(angular-3d): initialize TASK_2025_016 - landing page sections rebuild
  task-tracking/TASK_2025_016/context.md
  task-tracking/registry.md
Due: prettier --write

feat(angular-3d): phase 1 complete - foundation components for landing page rebuild
  apps/dev-brand-ui/src/app/shared/components/glassmorphism-card.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/glassmorphism-card.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
  apps/dev-brand-ui/src/app/shared/components/section-container.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/section-container.component.ts
  apps/dev-brand-ui/src/app/shared/components/section-particle-background.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/section-particle-background.component.ts
  apps/dev-brand-ui/src/app/shared/design-tokens/landing-page.tokens.ts
  task-tracking/TASK_2025_016/implementation-plan.md
  task-tracking/TASK_2025_016/progress.md
  task-tracking/TASK_2025_016/task-description.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(angular-3d): phase 2 complete - data foundation section
  apps/dev-brand-ui/src/app/shared/components/data-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/data-foundation-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
  task-tracking/TASK_2025_016/progress.md
Due: prettier --write, eslint --fix

feat(angular-3d): phase 3 complete - core + workflow sections
  apps/dev-brand-ui/src/app/shared/components/core-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/core-foundation-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
  apps/dev-brand-ui/src/app/shared/components/workflow-orchestration-section.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/workflow-orchestration-section.component.ts
  task-tracking/TASK_2025_016/progress.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(angular-3d): phase 4 complete - intelligence + production sections
  apps/dev-brand-ui/src/app/shared/components/index.ts
  apps/dev-brand-ui/src/app/shared/components/intelligence-layer-section.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/intelligence-layer-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/production-systems-section.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/production-systems-section.component.ts
  task-tracking/TASK_2025_016/progress.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(angular-3d): complete landing page sections with 11 LangGraph module showcases
  angular-langgraph.md
Due: prettier --write

refactor(angular-3d): move sections to proper feature folder
  .claude/settings.local.json
  angular-langgraph.md
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/core-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/core-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/data-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/data-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/intelligence-layer-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/intelligence-layer-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/production-systems-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/production-systems-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/workflow-orchestration-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/workflow-orchestration-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
Due: prettier --write, eslint --fix

fix(angular-3d): add safety check for originalPosition in mouse parallax
  angular-langgraph.md
  apps/dev-brand-ui/src/app/core/angular-3d/directives/float-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/mouse-parallax-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/performance-3d.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/scroll-animation.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/utils/angular-three-primitives.ts
Due: prettier --write, eslint --fix

fix(angular-3d): add safety check for mesh.position in particle system
  angular-langgraph.md
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/particle-system.component.ts
Due: prettier --write, eslint --fix

refactor: landing page sections
  apps/dev-brand-ui/public/assets/mini_robot/license.txt
  apps/dev-brand-ui/public/assets/mini_robot/scene.bin
  apps/dev-brand-ui/public/assets/mini_robot/scene.gltf
  apps/dev-brand-ui/public/assets/robo_head/license.txt
  apps/dev-brand-ui/public/assets/robo_head/scene.bin
  apps/dev-brand-ui/public/assets/robo_head/scene.gltf
  apps/dev-brand-ui/src/app/app.routes.ts
  apps/dev-brand-ui/src/app/core/angular-3d/components/primitives/particle-system.component.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/scroll-animation.directive.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/core-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/data-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/intelligence-layer-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/production-systems-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/workflow-orchestration-section.component.ts
  apps/dev-brand-ui/src/app/features/library-details/library-data.service.ts
  apps/dev-brand-ui/src/app/features/library-details/library-detail-page.component.ts
  apps/dev-brand-ui/src/app/shared/components/glassmorphism-card.component.ts
  apps/dev-brand-ui/src/app/shared/components/section-particle-background.component.ts
  docs/designs-systems.md
  task-tracking/TASK_2025_016/implementation-plan.md
Due: prettier --write, eslint --fix

chore: checkpoint before starting landing page redesign task
  docs/design-system/design-1.png
  docs/design-system/design-2.png
  docs/design-system/design-3.png
  docs/design-system/designs-systems.md
Due: prettier --write

feat(angular-3d): initialize TASK_2025_017 light redesign
  task-tracking/TASK_2025_017/context.md
  task-tracking/registry.md
Due: prettier --write

chore(hooks): disable lint-staged auto-stash to fix VSCode stash visibility issue
  .husky/pre-commit
Due: none

docs(docs): add comprehensive git commit standards to match commitlint rules
  CLAUDE.md
Due: prettier --write

docs(langgraph): complete angular langgraph library generic rewrite documentation
  task-tracking/TASK_2025_020/COMPLETION_SUMMARY.md
  task-tracking/TASK_2025_020/REMAINING_SECTIONS.md
  task-tracking/TASK_2025_020/angular-langgraph-components-CONTINUATION.md
  task-tracking/TASK_2025_020/angular-langgraph-components-REWRITE.md
  task-tracking/TASK_2025_020/examples-part1.md
  task-tracking/TASK_2025_020/progress.md
  task-tracking/TASK_2025_020/task-description.md
  task-tracking/TASK_2025_021/VALIDATION-SUMMARY.md
  task-tracking/TASK_2025_021/angular-langgraph-composables-REWRITE.md
  task-tracking/TASK_2025_021/progress.md
  task-tracking/TASK_2025_021/task-description.md
  task-tracking/TASK_2025_022/CONTINUATION-GUIDE.md
  task-tracking/TASK_2025_022/IMPLEMENTATION-SUMMARY.md
  task-tracking/TASK_2025_022/IMPLEMENTATION-TEMPLATES.md
  task-tracking/TASK_2025_022/REQUIREMENTS-SUMMARY.md
  task-tracking/TASK_2025_022/angular-langgraph-examples-REWRITE.md
  task-tracking/TASK_2025_022/examples-documentation-progress.md
  task-tracking/TASK_2025_022/progress.md
  task-tracking/TASK_2025_022/task-description.md
  task-tracking/TASK_2025_023/context.md
  task-tracking/TASK_2025_023/task-description.md
  task-tracking/registry.md
Due: prettier --write

docs(langgraph): mark all documentation rewrite tasks as complete
  apps/dev-brand-ui/src/app/features/landing-page/components/architecture-3d-scene.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/components/index.ts
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/core-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/core-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/data-foundation-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/data-foundation-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/intelligence-layer-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/intelligence-layer-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/neo4j-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/production-systems-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/production-systems-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/workflow-orchestration-section.component.spec.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/workflow-orchestration-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/code-snippet.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
  apps/dev-brand-ui/src/app/shared/components/scrolling-code-timeline.component.ts
  apps/dev-brand-ui/src/app/shared/components/section-container.component.ts
  task-tracking/TASK_2025_017/CONTINUATION-STATUS.md
  task-tracking/TASK_2025_017/progress.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

refactor: chromadb section
  apps/dev-brand-ui/eslint.config.mjs
  apps/dev-brand-ui/src/app/core/angular-3d/directives/hijacked-scroll-item.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/hijacked-scroll.directive.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/index.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/code-snippet.component.ts
  apps/dev-brand-ui/src/app/shared/components/glassmorphism-card.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/hijacked-scroll-timeline.component.ts
  apps/dev-brand-ui/src/app/shared/components/index.ts
  apps/dev-brand-ui/src/app/shared/components/library-showcase-card.component.ts
  apps/dev-brand-ui/src/app/shared/components/library-showcase-grid.component.ts
  apps/dev-brand-ui/src/app/shared/components/scrolling-code-timeline.component.ts
  apps/dev-brand-ui/src/app/shared/components/section-container.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/section-container.component.ts
  apps/dev-brand-ui/src/app/shared/components/section-particle-background.component.spec.ts
  apps/dev-brand-ui/src/app/shared/components/section-particle-background.component.ts
  apps/dev-brand-ui/src/styles.css
  task-tracking/TASK_2025_017/CANVA-LESSON-LEARNED.md
  task-tracking/TASK_2025_017/CONTINUATION-STATUS.md
  task-tracking/TASK_2025_017/RESUME-SESSION.md
  task-tracking/TASK_2025_017/SESSION-COMPLETE-SUMMARY.md
  task-tracking/TASK_2025_017/canva-assets-manifest.md
Due: prettier --write, eslint --fix

refactor: chromadb section
  apps/dev-brand-ui/public/assets/3d/mini_robot/license.txt
  apps/dev-brand-ui/public/assets/3d/mini_robot/scene.bin
  apps/dev-brand-ui/public/assets/3d/mini_robot/scene.gltf
  apps/dev-brand-ui/public/assets/3d/robo_head/license.txt
  apps/dev-brand-ui/public/assets/3d/robo_head/scene.bin
  apps/dev-brand-ui/public/assets/3d/robo_head/scene.gltf
  apps/dev-brand-ui/public/assets/images/step_1.png
  apps/dev-brand-ui/public/assets/images/step_2.png
  apps/dev-brand-ui/public/assets/images/step_3.png
  apps/dev-brand-ui/public/assets/images/step_4.png
  apps/dev-brand-ui/src/app/core/angular-3d/directives/hijacked-scroll.directive.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-section.component.ts
  apps/dev-brand-ui/src/app/shared/components/hijacked-scroll-timeline.component.ts
  task-tracking/TASK_2025_017/LAYOUT-CORRECTION.md
  task-tracking/TASK_2025_017/design-handoff.md
  task-tracking/TASK_2025_017/visual-design-specification.md
Due: prettier --write, eslint --fix

chore: update docs for new tasks
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  apps/dev-brand-ui/src/app/app.routes.ts
  apps/dev-brand-ui/src/app/core/angular-3d/directives/scroll-animation.directive.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/langgraph-core-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/langgraph-memory-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/neo4j-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/problem-solution-section.component.ts
  apps/dev-brand-ui/src/app/features/library-details/library-data.service.ts
  apps/dev-brand-ui/src/app/features/library-details/library-detail-page.component.ts
  libs/langgraph-modules/streaming/CLAUDE.md
  libs/langgraph-modules/streaming/src/index.ts
  libs/langgraph-modules/streaming/src/lib/services/workflow-streaming-orchestrator.service.ts
  libs/langgraph-modules/streaming/src/lib/streaming.module.ts
  task-tracking/TASK_2025_024/ai-image-prompts.md
  task-tracking/TASK_2025_024/architecture-design.md
  task-tracking/TASK_2025_024/asset-manifest.md
  task-tracking/TASK_2025_024/content-mapping.md
  task-tracking/TASK_2025_024/context.md
  task-tracking/TASK_2025_024/implementation-plan.md
  task-tracking/TASK_2025_024/implementation-report.md
  task-tracking/TASK_2025_024/task-description.md
  task-tracking/TASK_2025_025/context.md
  task-tracking/TASK_2025_025/hitl-and-tools-analysis.md
  task-tracking/TASK_2025_025/implementation-plan.md
  task-tracking/TASK_2025_025/progress.md
  task-tracking/TASK_2025_025/research-rest-api.md
  task-tracking/TASK_2025_025/research-summary.md
  task-tracking/TASK_2025_025/research-websocket.md
  task-tracking/TASK_2025_025/task-description.md
  task-tracking/TASK_2025_025/tool-calls-streaming-clarification.md
  task-tracking/TASK_2025_025/tool-calls-web-research.md
  task-tracking/TASK_2025_026/context.md
  task-tracking/TASK_2025_026/design-assets-inventory.md
  task-tracking/TASK_2025_026/design-handoff.md
  task-tracking/TASK_2025_026/implementation-plan.md
  task-tracking/TASK_2025_026/research-report.md
  task-tracking/TASK_2025_026/visual-design-specification.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(hooks): add team-leader agent with atomic task verification
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/team-leader.md
  .claude/agents/workflow-orchestrator.md
  .claude/commands/orchestrate.md
Due: prettier --write

refactor(hooks): update software-architect to use tasks.md
  .claude/agents/software-architect.md
  package.json
  task-tracking/TASK_2025_026/quality-failure-report.md
Due: prettier --write

docs(orchestrator): fix legacy implementations and add team-leader iteration clarity
  .claude/agents/workflow-orchestrator.md
  .claude/commands/orchestrate.md
  CLAUDE.md
Due: prettier --write

feat(angular-3d): extend tailwind config with design tokens
  apps/dev-brand-ui/tailwind.config.js
Due: prettier --write, eslint --fix

docs(angular-3d): add tasks.md for TASK_2025_026 with Task 1 verified
  task-tracking/TASK_2025_026/tasks.md
Due: prettier --write

chore(angular-3d): assign Task 2 to frontend-developer
  task-tracking/TASK_2025_026/tasks.md
Due: prettier --write

feat(angular-3d): add hero scene graph with particles and spheres
  STREAMING-ARCHITECTURE-ANALYSIS.md
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/scene-graphs/hero-scene-graph.component.ts
  libs/langgraph-modules/streaming/CLAUDE.md
  libs/langgraph-modules/workflow-engine/src/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/workflow-stream-orchestrator.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
  task-tracking/TASK_2025_026/commit-hook-bypass-note.md
  task-tracking/TASK_2025_026/tasks.md
Due: prettier --write, eslint --fix

feat(angular-3d): add hero scene graph with particles and spheres
  task-tracking/TASK_2025_026/tasks.md
Due: prettier --write

refactor(angular-3d): reorganize hero scene graph to scene-graphs folder and enhance team-leader guidance
  .claude/agents/team-leader.md
  .claude/settings.local.json
  apps/dev-brand-api/package.json
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-supervisor.workflow.ts
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-scene-graph.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/scene-graphs/hero-scene-graph.component.ts
  apps/dev-brand-ui/tsconfig.json
  libs/langgraph-angular/tsconfig.json
  libs/langgraph-modules/streaming/src/index.ts
  libs/langgraph-modules/streaming/src/lib/services/workflow-streaming-orchestrator.service.ts
  task-tracking/TASK_2025_026/commit-hook-bypass-note.md
  tsconfig-angular.base.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  eslint --fix: any of: *.{ts,js}
  npm run validate:package-json: any of: libs/*/package.json
