Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json

.lintstagedrc.json:

{
  "*.{ts,js,json,md}": ["prettier --write"],
  "*.{ts,js}": ["eslint --fix"],
  "libs/*/package.json": ["npm run validate:package-json"]
}

feat(langgraph): add tool registry service for dynamic tool discovery
  .claude/settings.local.json
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/business-workflows/business-workflows.module.spec.ts
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-supervisor.integration.spec.ts
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-supervisor.workflow.integration.spec.ts
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-supervisor.workflow.ts
  apps/dev-brand-api/src/app/business-workflows/workflows/state-transformer.utils.ts
  class-level-decorator-analysis.md
  decorator-registration-audit-report.md
  libs/langgraph-modules/workflow-engine/CLAUDE.md
  libs/langgraph-modules/workflow-engine/src/lib/services/tool-registry.service.ts
  research-tool-usage-streaming-analysis.md
  task-tracking/TASK_2025_039/completion-summary.md
  task-tracking/TASK_2025_039/final-report.md
  task-tracking/TASK_2025_039/remaining-issues-for-next-session.md
  task-tracking/TASK_2025_041/code-review.md
  task-tracking/TASK_2025_041/completion-summary.md
  task-tracking/TASK_2025_041/context.md
  task-tracking/TASK_2025_041/implementation-plan.md
  task-tracking/TASK_2025_041/task-description.md
  task-tracking/TASK_2025_041/tasks.md
  task-tracking/TASK_2025_042/context.md
  task-tracking/TASK_2025_042/implementation-plan.md
  task-tracking/TASK_2025_042/research-report.md
  task-tracking/TASK_2025_042/tasks.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(langgraph): add tools configuration to workflow-engine module
  libs/langgraph-modules/workflow-engine/src/lib/utils/workflow-engine-config.accessor.ts
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
Due: prettier --write, eslint --fix

feat(langgraph): add automatic tool binding in buildAgentGraph
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): add automatic ToolNode injection in buildStateGraph
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): default to updates streaming mode for tool visibility
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
Due: prettier --write, eslint --fix

test(langgraph): add unit tests for ToolRegistryService
  libs/langgraph-modules/workflow-engine/src/lib/services/tool-registry.service.spec.ts
Due: prettier --write, eslint --fix

test(langgraph): add integration tests for tool binding and execution
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.spec.ts
Due: prettier --write, eslint --fix

docs(langgraph): add tool integration system documentation
  libs/langgraph-modules/workflow-engine/CLAUDE.md
Due: prettier --write

refactor(langgraph): migrate workflow-engine debugging helpers to langgraph native checkpoint types
  libs/langgraph-modules/adapters/src/lib/langgraph-adapters.module.ts
  libs/langgraph-modules/hitl/package.json
  libs/langgraph-modules/hitl/src/integration/workflow-engine.integration.spec.ts
  libs/langgraph-modules/hitl/src/lib/interfaces/hitl-services.interface.ts
  libs/langgraph-modules/hitl/src/lib/nodes/human-approval.node.ts
  libs/langgraph-modules/hitl/src/lib/services/approver-intelligence.service.ts
  libs/langgraph-modules/hitl/tsconfig.json
  libs/langgraph-modules/hitl/tsconfig.lib.json
  libs/langgraph-modules/memory/package.json
  libs/langgraph-modules/memory/src/lib/memory.module.ts
  libs/langgraph-modules/workflow-engine/src/lib/debugging/checkpoint-timeline.helper.ts
  libs/langgraph-modules/workflow-engine/src/lib/debugging/replay-workflow.helper.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-metadata.interface.ts
  libs/langgraph-modules/workflow-engine/tsconfig.json
  libs/langgraph-modules/workflow-engine/tsconfig.lib.json
Due: prettier --write, eslint --fix

refactor(langgraph): delete checkpoint package - migrated to langgraph native
  apps/dev-brand-ui/src/app/features/landing-page/sections/value-propositions-section.component.ts
Due: prettier --write, eslint --fix

feat(dev-brand-api): register tools with workflow engine module
  apps/dev-brand-api/src/app/app.module.ts
Due: prettier --write, eslint --fix

refactor(dev-brand-api): remove manual tool injection from github analyzer
  apps/dev-brand-api/src/app/business-workflows/agents/github-code-analyzer/github-code-analyzer.agent.ts
  libs/langgraph-modules/adapters/src/lib/langgraph-adapters.module.ts
Due: prettier --write, eslint --fix

refactor(langgraph): migrate github analyzer to llm-autonomous tool calling
  apps/dev-brand-api/src/app/business-workflows/agents/github-code-analyzer/github-code-analyzer.agent.ts
  apps/dev-brand-api/src/app/config/checkpoint.config.ts
Due: prettier --write, eslint --fix

docs(langgraph): verify github analyzer tool names match registry
  apps/dev-brand-api/src/app/business-workflows/agents/github-code-analyzer/github-code-analyzer.agent.ts
Due: prettier --write, eslint --fix

docs(langgraph): mark phase 2 github analyzer migration complete
  task-tracking/TASK_2025_041/tool-migration-tasks.md
Due: prettier --write

docs(langgraph): add phase 3 personal brand strategist migration analysis
  task-tracking/TASK_2025_041/phase-3-analysis.md
Due: prettier --write

feat(langgraph): enable optional memory-analysis tool in brand strategist
  apps/dev-brand-api/src/app/business-workflows/agents/personal-brand-strategist/personal-brand-strategist.agent.ts
Due: prettier --write, eslint --fix

docs(langgraph): mark task 3.2 complete and assign task 3.3
  task-tracking/TASK_2025_041/phase-3-analysis.md
Due: prettier --write

feat(langgraph): enable optional brand-optimization tool in optimizeBrand
  apps/dev-brand-api/src/app/business-workflows/agents/personal-brand-strategist/personal-brand-strategist.agent.ts
Due: prettier --write, eslint --fix

feat(langgraph): enable optional strategy-generation tool in rebuildStrategy
  apps/dev-brand-api/src/app/business-workflows/agents/personal-brand-strategist/personal-brand-strategist.agent.ts
Due: prettier --write, eslint --fix

feat(langgraph): migrate ContentCreatorAgent to LLM-autonomous tool selection
  apps/dev-brand-api/src/app/business-workflows/agents/content-creator/content-creator.agent.ts
Due: prettier --write, eslint --fix

fix(langgraph): resolve DI and LLM configuration issues
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/business-workflows/business-workflows.module.spec.ts
  apps/dev-brand-api/src/app/business-workflows/business-workflows.module.ts
  apps/dev-brand-api/src/app/config/workflow-engine.config.ts
  checkpoint-migration-code-review.md
  libs/langgraph-modules/adapters/package.json
  libs/langgraph-modules/hitl/src/lib/interfaces/hitl-services.interface.ts
  libs/langgraph-modules/workflow-engine/package.json
  libs/langgraph-modules/workflow-engine/src/lib/services/tool-registry.service.spec.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/workflow-engine-config.accessor.ts
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
  task-tracking/TASK_2025_041/github-analyzer-migration-analysis.md
  task-tracking/TASK_2025_041/phase-4-analysis.md
  task-tracking/TASK_2025_041/tasks.md
Due: prettier --write, eslint --fix

fix(langgraph): integrate @MultiAgent with @Workflow metadata
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/config/workflow-engine.config.ts
  libs/langgraph-modules/core/src/index.ts
  libs/langgraph-modules/core/src/lib/interfaces/index.ts
  libs/langgraph-modules/core/src/lib/interfaces/module-options.interface.ts
  libs/langgraph-modules/core/src/lib/interfaces/streaming.interface.ts
  libs/langgraph-modules/hitl/docs/unchanged-services-verification.md
  libs/langgraph-modules/hitl/src/lib/services/hitl-notification.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/multi-agent/multi-agent.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/functional/module-options.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/multi-agent/module-options.types.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/functional/functional-api-config.accessor.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/multi-agent/multi-agent-config.accessor.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/workflow-engine-config.accessor.ts
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
  log.md
Due: prettier --write, eslint --fix

fix(scripts): update local libs script to reflect current package structure
  scripts/update-local-libs.js
Due: prettier --write, eslint --fix

feat(langgraph): create multi-agent graph builder strategy interface
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/i-multi-agent-graph-builder.interface.ts
Due: prettier --write, eslint --fix

feat(langgraph): add multi-agent builder error classes
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/errors.ts
Due: prettier --write, eslint --fix

feat(langgraph): create multi-agent graph builder service
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/multi-agent-graph-builder.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): implement supervisor pattern with workers as tools
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/supervisor-graph-builder.ts
Due: prettier --write, eslint --fix

feat(langgraph): implement sequential graph builder for linear agent execution
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/sequential-graph-builder.ts
Due: prettier --write, eslint --fix

refactor: create researcher agent and fix graph build and streaming issues
  LANGGRAPH_CHANNELS_DECISION.md
  LANGGRAPH_STATE_STANDARDIZATION.md
  RESEARCHER_AGENT.md
  RESEARCHER_AGENT_QUICKSTART.md
  RESEARCHER_AGENT_STREAMING_UPDATE.md
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/business-workflows/agents/researcher.agent.ts
  apps/dev-brand-api/src/app/business-workflows/agents/shared/metadata.types.ts
  apps/dev-brand-api/src/app/business-workflows/controllers/research-chat.controller.ts
  apps/dev-brand-api/src/app/business-workflows/core/tools/file-operation.tools.ts
  apps/dev-brand-ui/src/app/app.routes.ts
  apps/dev-brand-ui/src/app/features/research-chat/components/approval-modal.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.html
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research.service.ts
  apps/dev-brand-ui/src/app/shared/navigation/showcase-navigation.component.ts
  libs/langgraph-modules/workflow-engine/src/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/multi-agent-graph-builder.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/state-annotation-builder.ts
  log.md
  reports/README.md
  task-tracking/LANGGRAPH_ALIGNMENT_CRISIS.md
  task-tracking/MIDDLE_GROUND_ARCHITECTURE.md
  task-tracking/TASK_2025_043/context.md
  task-tracking/TASK_2025_043/implementation-plan.md
  task-tracking/TASK_2025_043/tasks.md
Due: prettier --write, eslint --fix

refactor(langgraph): remove workflow metadata creation from multi-agent decorator
  libs/langgraph-modules/workflow-engine/src/lib/decorators/multi-agent/multi-agent.decorator.ts
Due: prettier --write, eslint --fix

refactor: tool streaming in researcher
  LANGGRAPH_STATE_STANDARDIZATION.md
  TOOL_STREAMING_GUIDE.md
  apps/dev-brand-api/src/app/business-workflows/agents/researcher.agent.ts
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research.service.ts
  checkpoint-migration-code-review.md
  docs/Screenshot 2025-11-11 011600.png
  docs/Screenshot 2025-11-11 011649.png
  docs/design-system/designs-systems.md
  docs/our-chat-design.png
  libs/langgraph-modules/workflow-engine/CLAUDE.md
  libs/langgraph-modules/workflow-engine/src/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/metadata-processor.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/sequential-graph-builder.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/state-annotation-builder.ts
  log.md
  task-tracking/TASK_2025_043/tasks.md
Due: prettier --write, eslint --fix

docs(langgraph): mark task 7 complete - workflow execution service integration verified
  task-tracking/TASK_2025_043/tasks.md
Due: prettier --write

feat(langgraph): register multi-agent builders in workflow engine module
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
Due: prettier --write, eslint --fix

docs(langgraph): mark task 8 complete - workflow engine module registration verified
  task-tracking/TASK_2025_043/tasks.md
Due: prettier --write

fix(langgraph): add instance binding to multi-agent graph builders
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/sequential-graph-builder.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/supervisor-graph-builder.ts
Due: prettier --write, eslint --fix

feat(research-chat): remove purple gradients and implement white background
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
Due: none

feat(angular-3d): redesign message styles per design system
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
Due: none

feat(angular-3d): redesign input area with sticky positioning
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
Due: none
