Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json, nx affected:lint --fix --files, nx affected:test --files

fix: update export types and decorator positions in libraries
  .claude/settings.local.json
  libs/nestjs-chromadb/src/index.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/base/agent-node.base.ts
  libs/nestjs-langgraph/src/lib/base/unified-workflow.base.ts
  libs/nestjs-langgraph/src/lib/examples/hitl-approval-test.ts.bak
  libs/nestjs-langgraph/tsconfig.json
  libs/nestjs-langgraph/tsconfig.lib.json
  libs/nestjs-neo4j/src/index.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

refactor: convert shared library to internal workspace library
  README.md
  libs/shared/package.json
  libs/shared/project.json
  package.json
  scripts/validate-package-json.js
Due: prettier --write, eslint --fix, npm run validate:package-json

feat: complete Phase 1 - Core Library Infrastructure
  .claude/settings.local.json
  CLAUDE.md
  apps/nestjs-ai-saas-starter-demo-e2e/jest.config.ts
  apps/nestjs-ai-saas-starter-demo-e2e/src/support/global-teardown.ts
  apps/nestjs-ai-saas-starter-demo-e2e/src/support/test-setup.ts
  apps/nestjs-ai-saas-starter-demo/jest.config.ts
  docs/claude-agents-setup/agents-workflow-code-examples.md
  libs/nestjs-chromadb/jest.config.ts
  libs/nestjs-chromadb/src/lib/embeddings/cohere.embedding.ts
  libs/nestjs-chromadb/src/lib/embeddings/huggingface.embedding.ts
  libs/nestjs-chromadb/src/lib/embeddings/openai.embedding.ts
  libs/nestjs-chromadb/src/lib/services/chromadb.service.ts
  libs/nestjs-chromadb/src/lib/utils/vector.utils.ts
  libs/nestjs-chromadb/typedoc.json
  libs/nestjs-langgraph/README.md
  libs/nestjs-langgraph/jest.config.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/base/declarative-workflow.base.ts
  libs/nestjs-langgraph/src/lib/base/streaming-workflow.base.ts
  libs/nestjs-langgraph/src/lib/core/compilation-cache.service.ts
  libs/nestjs-langgraph/src/lib/core/metadata-processor.service.ts
  libs/nestjs-langgraph/src/lib/core/subgraph-manager.service.ts
  libs/nestjs-langgraph/src/lib/core/workflow-graph-builder.service.ts
  libs/nestjs-langgraph/src/lib/decorators/approval.decorator.ts
  libs/nestjs-langgraph/src/lib/decorators/edge.decorator.ts
  libs/nestjs-langgraph/src/lib/hitl/confidence-evaluator.service.ts
  libs/nestjs-langgraph/src/lib/hitl/feedback-processor.service.ts
  libs/nestjs-langgraph/src/lib/tools/tool-builder.service.ts
  libs/nestjs-langgraph/src/lib/tools/tool-discovery.service.ts
  libs/nestjs-langgraph/src/lib/tools/tool-node.service.ts
  libs/nestjs-langgraph/src/lib/tools/tool-registry.service.ts
  libs/nestjs-langgraph/typedoc.json
  libs/nestjs-neo4j/README.md
  libs/nestjs-neo4j/jest.config.ts
  libs/nestjs-neo4j/src/lib/interfaces/neo4j-connection.interface.ts
  libs/nestjs-neo4j/src/lib/services/neo4j.service.ts
  libs/nestjs-neo4j/typedoc.json
  libs/shared/jest.config.ts
  libs/shared/typedoc.json
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat: complete demo application implementation
  .kiro/specs/ai-saas-starter-ecosystem/tasks.md
  apps/nestjs-ai-saas-starter-demo/.env.example
  apps/nestjs-ai-saas-starter-demo/README.md
  apps/nestjs-ai-saas-starter-demo/docker-compose.yml
  apps/nestjs-ai-saas-starter-demo/src/app/app.module.ts
  apps/nestjs-ai-saas-starter-demo/src/main.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/documents.controller.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/documents.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/documents.service.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/dto/create-document.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/dto/search-document.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/dto/create-node.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/dto/create-relationship.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/dto/query-graph.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/graph.controller.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/graph.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/graph.service.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/dto/execute-workflow.dto.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/sample.workflow.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/workflows.controller.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/workflows.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/workflows.service.ts
  apps/nestjs-ai-saas-starter-demo/tsconfig.app.json
  apps/nestjs-ai-saas-starter-demo/tsconfig.json
  libs/nestjs-chromadb/src/lib/utils/vector.utils.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/base/declarative-workflow.base.ts
  libs/nestjs-langgraph/src/lib/base/streaming-workflow.base.ts
  libs/nestjs-langgraph/src/lib/examples/README.md
  libs/nestjs-langgraph/src/lib/examples/hitl-approval-test.ts.bak
  libs/nestjs-langgraph/src/lib/examples/index.ts
  libs/nestjs-langgraph/src/lib/examples/integration-demo-workflow.ts
  libs/nestjs-langgraph/src/lib/examples/simple-test-workflow.ts
  libs/nestjs-langgraph/src/lib/examples/streaming-workflow-example.ts
  libs/nestjs-langgraph/src/lib/hitl/index.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(shared): complete phase 1 demo application implementation
  apps/nestjs-ai-saas-starter-demo/src/app/app.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/documents/documents.service.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/graph.controller.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/graph/graph.service.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/health/health.controller.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/health/health.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/health/health.service.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/workflows/workflows.service.ts
  libs/nestjs-langgraph/src/__tests__/integration/phase2-integration-test.spec.ts
  libs/nestjs-langgraph/src/__tests__/integration/phase2-performance-test.spec.ts
  libs/nestjs-langgraph/src/__tests__/integration/simple-test-workflow.spec.ts
  libs/nestjs-langgraph/src/__tests__/integration/streaming-decorators.spec.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files, nx affected:test --files

feat(langgraph): implement enhanced state management foundation
  .kiro/specs/nest-langgraph-enhancement/design.md
  .kiro/specs/nest-langgraph-enhancement/requirements.md
  .kiro/specs/nest-langgraph-enhancement/tasks.md
  apps/nestjs-ai-saas-starter-demo/README.md
  libs/nestjs-chromadb/src/lib/nestjs-chromadb.module.ts
  libs/nestjs-chromadb/src/lib/services/embedding.service.ts
  libs/nestjs-langgraph/src/__tests__/integration/state-transformer-integration.spec.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/core/state-transformer.service.spec.ts
  libs/nestjs-langgraph/src/lib/core/state-transformer.service.ts
  libs/nestjs-langgraph/src/lib/interfaces/index.ts
  libs/nestjs-langgraph/src/lib/interfaces/state-management.interface.ts
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/tools/tool-discovery.service.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files, nx affected:test --files

fix(langgraph): resolve TypeScript compilation errors in StateTransformerService
  libs/nestjs-langgraph/src/lib/core/state-transformer.service.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(langgraph): implement functional-api module with decorator-based workflows
  libs/langgraph-modules/functional-api/README.md
  libs/langgraph-modules/functional-api/src/index.ts
  libs/langgraph-modules/functional-api/src/lib/decorators/entrypoint.decorator.ts
  libs/langgraph-modules/functional-api/src/lib/decorators/task.decorator.ts
  libs/langgraph-modules/functional-api/src/lib/errors/functional-workflow.errors.ts
  libs/langgraph-modules/functional-api/src/lib/functional-api.module.ts
  libs/langgraph-modules/functional-api/src/lib/interfaces/functional-workflow.interface.ts
  libs/langgraph-modules/functional-api/src/lib/interfaces/module-options.interface.ts
  libs/langgraph-modules/functional-api/src/lib/langgraph-modules/functional-api.module.ts
  libs/langgraph-modules/functional-api/src/lib/services/functional-workflow.service.ts
  libs/langgraph-modules/functional-api/src/lib/services/workflow-discovery.service.ts
  libs/langgraph-modules/functional-api/src/lib/validation/workflow-validator.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(langgraph): implement platform module matching LangGraph Platform API
  libs/langgraph-modules/platform/README.md
  libs/langgraph-modules/platform/src/index.ts
  libs/langgraph-modules/platform/src/lib/constants/platform.constants.ts
  libs/langgraph-modules/platform/src/lib/interfaces/assistant.interface.ts
  libs/langgraph-modules/platform/src/lib/interfaces/platform.interface.ts
  libs/langgraph-modules/platform/src/lib/interfaces/run.interface.ts
  libs/langgraph-modules/platform/src/lib/interfaces/thread.interface.ts
  libs/langgraph-modules/platform/src/lib/interfaces/webhook.interface.ts
  libs/langgraph-modules/platform/src/lib/langgraph-modules/platform.module.ts
  libs/langgraph-modules/platform/src/lib/platform.module.ts
  libs/langgraph-modules/platform/src/lib/services/assistant.service.ts
  libs/langgraph-modules/platform/src/lib/services/platform-client.service.ts
  libs/langgraph-modules/platform/src/lib/services/run.service.ts
  libs/langgraph-modules/platform/src/lib/services/thread.service.ts
  libs/langgraph-modules/platform/src/lib/services/webhook.service.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(checkpoint): fix critical TypeScript compilation errors
  libs/langgraph-modules/checkpoint/src/index.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-cleanup.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-health.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-manager.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-metrics.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-persistence.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-registry.service.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-saver.factory.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint-config.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint-core.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint-errors.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint-services.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint-stats.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/checkpoint.interface.ts
  libs/langgraph-modules/checkpoint/src/lib/interfaces/state-management.interface.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

fix(functional-api): resolve lint issues and fix checkpoint integration
  libs/langgraph-modules/functional-api/src/index.ts
  libs/langgraph-modules/functional-api/src/lib/functional-api.module.ts
  libs/langgraph-modules/functional-api/src/lib/interfaces/functional-workflow.interface.ts
  libs/langgraph-modules/functional-api/src/lib/services/functional-workflow.service.ts
  libs/langgraph-modules/functional-api/src/lib/services/workflow-discovery.service.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

fix(workspace): add global claude.md file and per library
  .claude/settings.local.json
  CLAUDE.md
  libs/MIGRATION_STRATEGY.md
  libs/langgraph-modules/checkpoint/CLAUDE.md
  libs/langgraph-modules/functional-api/CLAUDE.md
  libs/langgraph-modules/memory/CLAUDE.md
  libs/langgraph-modules/memory/src/lib/services/memory-core.service.ts
  libs/langgraph-modules/monitoring/CLAUDE.md
  libs/langgraph-modules/multi-agent/CLAUDE.md
  libs/langgraph-modules/platform/CLAUDE.md
  libs/langgraph-modules/time-travel/CLAUDE.md
  libs/nestjs-chromadb/CLAUDE.md
  libs/nestjs-langgraph/CLAUDE.md
  libs/nestjs-neo4j/CLAUDE.md
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(langgraph-modules): implement core child modules
  .kiro/specs/nest-langgraph-enhancement/design.md
  .kiro/specs/nest-langgraph-enhancement/tasks.md
  libs/langgraph-modules/checkpoint/CLAUDE.md
  libs/langgraph-modules/checkpoint/src/index.ts
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-persistence.service.ts
  libs/langgraph-modules/checkpoint/src/lib/langgraph-modules/checkpoint.module.ts
  libs/langgraph-modules/checkpoint/src/lib/providers/README.md
  libs/langgraph-modules/checkpoint/src/lib/providers/langgraph-checkpoint.provider.ts
  libs/langgraph-modules/functional-api/examples/langgraph-integration.example.ts
  libs/langgraph-modules/functional-api/src/index.ts
  libs/langgraph-modules/functional-api/src/lib/functional-api.module.ts
  libs/langgraph-modules/functional-api/src/lib/services/functional-workflow.service.ts
  libs/langgraph-modules/functional-api/src/lib/services/graph-generator.service.ts
  libs/langgraph-modules/functional-api/tsconfig.json
  libs/langgraph-modules/functional-api/tsconfig.lib.json
  libs/langgraph-modules/platform/src/index.ts
  libs/langgraph-modules/platform/src/lib/platform.module.ts
  libs/langgraph-modules/platform/src/lib/services/assistant.service.ts
  libs/langgraph-modules/platform/src/lib/services/platform-client.service.ts
  libs/langgraph-modules/platform/src/lib/services/run.service.ts
  libs/langgraph-modules/platform/src/lib/services/thread.service.ts
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

refactor: add claude agents
  .claude/agents/code-reviewer.md
  .claude/agents/design-agent.md
  .claude/agents/implementation-agent.md
  .claude/agents/kiro-orchestrator.md
  .claude/agents/langgraph-workflow-agent.md
  .claude/agents/nx-library-agent.md
  .claude/agents/project-manager.md
  .claude/agents/requirements-agent.md
  .claude/agents/researcher-expert.md
  .claude/agents/resume-workflow-agent.md
  .claude/agents/senior-developer.md
  .claude/agents/senior-tester.md
  .claude/agents/software-architect.md
  .claude/commands/fixer-types.md
  .claude/commands/orchestrate-help.md
  .claude/commands/orchestrate.md
  .claude/commands/review-code.md
  .claude/commands/review-logic.md
  .claude/commands/review-security.md
  .claude/settings.local.json
  .claude/templates/progress-template.md
  .claude/templates/task-folder-structure.md
  CLAUDE.md
  libs/langgraph-modules/streaming/package.json
  libs/langgraph-modules/workflow-engine/package.json
Due: prettier --write

feat(TASK_INT_002): fix child module integration crisis
  .kiro/specs/typescript-fixes/design.md
  docs/claude-agents-setup/AGENT-INTEGRATION-GUIDE.md
  docs/claude-agents-setup/AGENT-SYSTEM.md
  docs/claude-agents-setup/RESUME-WORKFLOW-GUIDE.md
  docs/claude-agents-setup/TASK-SYSTEM.md
  docs/claude-agents-setup/agents-workflow-code-examples.md
  docs/claude-agents-setup/agents-workflow-library-plan.md
  libs/langgraph-modules/hitl/tsconfig.json
  libs/langgraph-modules/hitl/tsconfig.lib.json
  libs/langgraph-modules/workflow-engine/tsconfig.json
  libs/langgraph-modules/workflow-engine/tsconfig.lib.json
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-imports.providers.ts
  task-tracking/TASK_INT_001/task-description.md
  task-tracking/TASK_INT_002/implementation-plan.md
  task-tracking/TASK_INT_002/progress.md
  task-tracking/registry.md
  tsconfig.base.json
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(monitoring): complete monitoring module with 6 SOLID services
  .claude/agents/code-reviewer.md
  .claude/agents/senior-tester.md
  .claude/settings.local.json
  libs/langgraph-modules/core/package.json
  libs/langgraph-modules/monitoring/project.json
  libs/langgraph-modules/monitoring/src/index.ts
  libs/langgraph-modules/monitoring/src/lib/core/monitoring-facade.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/core/monitoring-facade.service.ts
  libs/langgraph-modules/monitoring/src/lib/interfaces/monitoring.interface.ts
  libs/langgraph-modules/monitoring/src/lib/langgraph-modules/monitoring.module.ts
  libs/langgraph-modules/monitoring/src/lib/monitoring.integration.spec.ts
  libs/langgraph-modules/monitoring/src/lib/providers/trace.provider.ts
  libs/langgraph-modules/monitoring/src/lib/services/alerting.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/services/alerting.service.ts
  libs/langgraph-modules/monitoring/src/lib/services/dashboard.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/services/dashboard.service.ts
  libs/langgraph-modules/monitoring/src/lib/services/health-check.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/services/health-check.service.ts
  libs/langgraph-modules/monitoring/src/lib/services/metrics-collector.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/services/metrics-collector.service.ts
  libs/langgraph-modules/monitoring/src/lib/services/performance-tracker.service.spec.ts
  libs/langgraph-modules/monitoring/src/lib/services/performance-tracker.service.ts
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-imports.providers.ts
  task-tracking/registry.md
Due: prettier --write, eslint --fix, nx affected:lint --fix --files, nx affected:test --files

feat(TASK_INT_007): Day 2 - eliminate circular dependencies in functional-api module
  libs/langgraph-modules/core/src/index.ts
  libs/langgraph-modules/core/src/lib/annotations/index.ts
  libs/langgraph-modules/core/src/lib/annotations/workflow-state.annotation.ts
  libs/langgraph-modules/core/src/lib/interfaces/index.ts
  libs/langgraph-modules/core/src/lib/interfaces/workflow-config.interface.ts
  libs/langgraph-modules/core/src/lib/utils/workflow-metadata.utils.ts
  libs/langgraph-modules/functional-api/src/lib/decorators/edge.decorator.ts
  libs/langgraph-modules/functional-api/src/lib/decorators/node.decorator.ts
  libs/langgraph-modules/functional-api/src/lib/decorators/workflow.decorator.ts
  libs/langgraph-modules/functional-api/src/lib/services/graph-generator.service.ts
  libs/langgraph-modules/functional-api/tsconfig.lib.json
  libs/langgraph-modules/workflow-engine/src/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/base/unified-workflow.base.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/subgraph-manager.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/workflow-graph-builder.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/workflow-state-annotation.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/workflow-stream.service.ts
  task-tracking/TASK_INT_007/day-1-completion-report.md
  task-tracking/TASK_INT_007/day-2-architecture.md
  task-tracking/TASK_INT_007/day-2-code-review.md
  task-tracking/TASK_INT_007/day-2-completion-report.md
  task-tracking/TASK_INT_007/day-2-plan.md
  task-tracking/TASK_INT_007/day-2-research.md
  task-tracking/TASK_INT_007/day-2-test-report.md
  task-tracking/TASK_INT_007/implementation-plan.md
  task-tracking/TASK_INT_007/progress.md
  task-tracking/TASK_INT_007/skeptical-verification-report.md
  task-tracking/TASK_INT_007/task-description.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(TASK_INT_007): Day 3 - Fix time-travel module and improve demo app integration
  .claude/settings.local.json
  libs/langgraph-modules/checkpoint/tsconfig.json
  libs/langgraph-modules/checkpoint/tsconfig.lib.json
  libs/langgraph-modules/functional-api/CLAUDE.md
  libs/langgraph-modules/hitl/package.json
  libs/langgraph-modules/multi-agent/project.json
  libs/langgraph-modules/time-travel/project.json
  libs/langgraph-modules/time-travel/src/index.ts
  libs/langgraph-modules/time-travel/src/lib/interfaces/time-travel.interface.ts
  libs/langgraph-modules/time-travel/src/lib/services/branch-manager.service.ts
  libs/langgraph-modules/time-travel/src/lib/services/time-travel.service.ts
  libs/langgraph-modules/time-travel/src/lib/time-travel.module.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/interfaces/module-options.interface.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-imports.providers.ts
  libs/nestjs-langgraph/src/lib/providers/index.ts
  libs/nestjs-langgraph/tsconfig.json
  libs/nestjs-langgraph/tsconfig.lib.json
  task-tracking/TASK_INT_007/day-3-code-review.md
  task-tracking/TASK_INT_007/day-3-completion-report.md
  task-tracking/TASK_INT_007/day-3-implementation-plan.md
  task-tracking/TASK_INT_007/day-3-task-description.md
  task-tracking/TASK_INT_007/day-3-test-report.md
  task-tracking/TASK_INT_007/progress.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

fix(nestjs-langgraph): resolve TypeScript compilation issues
  apps/nestjs-ai-saas-starter-demo/src/app/app.module.ts
  apps/nestjs-ai-saas-starter-demo/src/app/app.module.with-supervisor.example.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/supervisor-agent/config/supervisor-agent.config.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/supervisor-agent/supervisor-agent.module.ts
  apps/nestjs-ai-saas-starter-demo/src/modules/supervisor-agent/workflows/supervisor-coordination.workflow.ts
  libs/demo/supervisor-agent/README.md
  libs/demo/supervisor-agent/eslint.config.mjs
  libs/demo/supervisor-agent/package.json
  libs/demo/supervisor-agent/project.json
  libs/demo/supervisor-agent/src/index.ts
  libs/demo/supervisor-agent/src/lib/config/supervisor-agent.config.ts
  libs/demo/supervisor-agent/src/lib/test-foundation.ts
  libs/demo/supervisor-agent/src/lib/workflows/supervisor-coordination.workflow.ts
  libs/demo/supervisor-agent/tsconfig.json
  libs/demo/supervisor-agent/tsconfig.lib.json
  libs/langgraph-modules/multi-agent/package.json
  libs/langgraph-modules/multi-agent/src/lib/decorators/tool.decorator.ts
  libs/nestjs-langgraph/src/lib/adapters/checkpoint.adapter.ts
  libs/nestjs-langgraph/src/lib/interfaces/module-options.interface.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-imports.providers.ts
  libs/nestjs-langgraph/src/lib/providers/index.ts
  libs/nestjs-langgraph/src/lib/providers/infrastructure.providers.ts
  libs/nestjs-langgraph/src/lib/providers/llm-provider.factory.ts
  libs/nestjs-langgraph/src/lib/providers/module-exports.providers.ts
  tsconfig.json
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

chore: update neo4j types
  libs/nestjs-neo4j/CLAUDE.md
  libs/nestjs-neo4j/README.md
  libs/nestjs-neo4j/src/index.ts
  libs/nestjs-neo4j/src/lib/constants.ts
  libs/nestjs-neo4j/src/lib/decorators/neo4j-safe.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/validate-neo4j-params.decorator.ts
  libs/nestjs-neo4j/src/lib/utils/parameter-serializer.ts
  libs/nestjs-neo4j/src/lib/utils/query-builder.ts
  scripts/typescript-fixes/validate-types.js
Due: prettier --write, eslint --fix, nx affected:lint --fix --files

feat(langgraph): restore and fix memory adapter integration with nestjs-langgraph
  DEVBRAND_CHAT_STUDIO_MVP_PLAN.md
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/config/chromadb.config.ts
  apps/dev-brand-api/src/app/config/neo4j.config.ts
  apps/dev-brand-api/src/app/config/nestjs-langgraph.config.ts
  apps/dev-brand-api/tsconfig.app.json
  apps/dev-brand-api/tsconfig.json
  apps/devbrand-ui/tailwind.config.js
  docs/Screenshot 2025-08-25 045722.png
  docs/dev_brand_ui/DEVBRAND_CHAT_STUDIO_MVP_PLAN.md
  docs/dev_brand_ui/angular-mvp-library-research.md
  docs/dev_brand_ui/devbrand-revolutionary-ux.md
  libs/dev-brand/backend/data-access/jest.config.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/adapters/memory-adapter-bridge.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/errors/memory-errors.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/health/memory-health.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/interfaces/memory.interface.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/memory.module.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-core.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-graph.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-orchestrator.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-retention.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-stats.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/services/memory-storage.service.ts
  libs/dev-brand/backend/data-access/tsconfig.json
  libs/dev-brand/backend/data-access/tsconfig.lib.json
  libs/dev-brand/backend/data-access/tsconfig.tsbuildinfo
  libs/nestjs-langgraph/src/lib/adapters/__tests__/memory-integration-bridge.spec.ts
  libs/nestjs-langgraph/src/lib/adapters/memory-adapter.provider.ts
  libs/nestjs-langgraph/src/lib/adapters/memory.adapter.ts
  libs/nestjs-langgraph/src/lib/config/memory-integration.config.ts
  libs/nestjs-langgraph/src/lib/constants/memory-adapter.constants.ts
  log.txt
  task-tracking/TASK_INT_008/research-report.md
  task-tracking/TASK_INT_009/integration-example.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint --fix --files, nx affected:test --files

fix(langgraph): resolve module export validation errors
  libs/langgraph-modules/multi-agent/src/lib/constants/multi-agent.constants.ts
  libs/langgraph-modules/multi-agent/src/lib/multi-agent.module.ts
  libs/nestjs-chromadb/package.json
  libs/nestjs-langgraph/package.json
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/providers/module-exports.providers.ts
  libs/nestjs-neo4j/package.json
  scripts/validate-package-json.js
  tsconfig.base.json
  typescript-validation-report.json
Due: prettier --write, eslint --fix, npm run validate:package-json, nx affected:lint --fix --files

chore: add migrations scripts
  .claude/settings.local.json
  docs/MIGRATION-GUIDE.md
  scripts/migrate.sh
  scripts/sync-peer-dependencies.js
Due: prettier --write, eslint --fix

chore: update packages
  libs/langgraph-modules/checkpoint/package.json
  libs/nestjs-chromadb/package.json
  libs/nestjs-langgraph/package.json
  libs/nestjs-neo4j/package.json
  package-lock.json
  package.json
  scripts/sync-peer-dependencies.js
Due: prettier --write, eslint --fix, npm run validate:package-json

chore: build scripts
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

chore: build scripts
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  eslint --fix: any of: *.{ts,js}
  npm run validate:package-json: any of: libs/*/package.json
  nx affected:lint --fix --files: any of: libs/**/*.ts
  nx affected:test --files: any of: libs/**/*.{spec,test}.ts
