Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json

.lintstagedrc.json:

{
  "*.{ts,js,json,md}": ["prettier --write"],
  "*.{ts,js}": ["eslint --fix"],
  "libs/*/package.json": ["npm run validate:package-json"]
}

fix(auth): properly call computed signal in auth guard
  apps/dev-brand-ui/src/app/core/guards/auth.guard.ts
Due: prettier --write, eslint --fix

style(auth): apply glassmorphism to user profile component
  apps/dev-brand-ui/src/app/shared/components/auth/user-profile.component.ts
Due: prettier --write, eslint --fix

fix(auth): correct operator order in getSseTicket
  apps/dev-brand-ui/src/app/core/services/auth.service.ts
Due: prettier --write, eslint --fix

refactor(neo4j): batch 1 - nestjs-cls integration
  apps/dev-brand-api/project.json
  apps/dev-brand-api/src/app/business-workflows/controllers/research-chat.controller.ts
  apps/dev-brand-api/src/app/business-workflows/tools/premium-analytics.tool.ts
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-chat.workflow.ts
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  apps/dev-brand-ui/src/app/app.routes.ts
  apps/dev-brand-ui/src/app/shared/components/auth/user-profile.component.ts
  libs/langgraph-modules/adapters/src/lib/adapters/thread-registry/neo4j-thread-registry.adapter.ts
  libs/langgraph-modules/adapters/src/lib/repositories/neo4j/thread-registry.repository.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/metadata-processor.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/llm-task.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/node.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/task.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/workflow.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/functional/functional-workflow.interface.ts
  libs/nestjs-neo4j/package.json
  libs/nestjs-neo4j/src/lib/decorators/security.decorators.ts
  package-lock.json
  package.json
  task-tracking/TASK_2025_054/tasks.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix, npm run validate:package-json

refactor(neo4j): split security decorators into separate files
  apps/dev-brand-ui/eslint.config.mjs
  libs/nestjs-neo4j/src/lib/decorators/security.decorators.ts
  libs/nestjs-neo4j/src/lib/decorators/security/audit.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/security/auth.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/security/encryption.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/security/index.ts
  libs/nestjs-neo4j/src/lib/decorators/security/interfaces.ts
  libs/nestjs-neo4j/src/lib/decorators/security/rate-limit.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/security/validation.decorator.ts
  task-tracking/TASK_2025_054/completion-summary.md
  task-tracking/TASK_2025_055/context.md
  task-tracking/TASK_2025_055/implementation_plan.md
  task-tracking/TASK_2025_055/task-description.md
  task-tracking/TASK_2025_055/tasks.md
  task-tracking/TASK_2025_056/context.md
  task-tracking/TASK_2025_056/implementation-plan.md
  task-tracking/TASK_2025_056/tasks.md
Due: prettier --write, eslint --fix

refactor(adapters): batch 2 - repository optimization and docs
  .vscode/settings.json
  libs/langgraph-modules/adapters/src/lib/repositories/neo4j/thread-registry.repository.ts
  libs/nestjs-neo4j/docs/CLS-SETUP.md
Due: prettier --write, eslint --fix

test(neo4j): batch 3 - add ClsService tests and integration
  apps/dev-brand-api/src/app/app.module.ts
  libs/nestjs-neo4j/src/lib/decorators/security.decorators.spec.ts
Due: prettier --write, eslint --fix

docs(neo4j): mark TASK_2025_056 as complete
  task-tracking/TASK_2025_056/tasks.md
Due: prettier --write

refactor(adapters): optimize Neo4jThreadRegistryAdapter to singleton
  libs/langgraph-modules/adapters/src/lib/adapters/thread-registry/neo4j-thread-registry.adapter.ts
Due: prettier --write, eslint --fix

refactor: fix lint issues
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/modernization-detector.md
  .claude/agents/project-manager.md
  .claude/agents/software-architect.md
  .claude/agents/team-leader.md
  .claude/agents/ui-ux-designer.md
  .claude/commands/orchestrate.md
  .gitignore
  apps/dev-brand-ui/src/app/shared/components/conversation-sidebar/conversation-sidebar.component.html
Due: prettier --write

chore(deps): remove stale angular-three patch
  package-lock.json
  package.json
  patches/angular-three+3.7.2.patch
Due: prettier --write

chore(deps): align nestjs packages to latest 11.1.x
  package-lock.json
  package.json
Due: prettier --write

chore(deps): migrate nx to 22.5.2
  apps/dev-brand-api/jest.config.ts
  apps/dev-brand-api/tsconfig.json
  apps/dev-brand-ui/eslint.config.mjs
  apps/dev-brand-ui/jest.config.ts
  jest.config.ts
  libs/langgraph-angular/jest.config.ts
  libs/langgraph-angular/package.json
  libs/langgraph-modules/adapters/jest.config.ts
  libs/langgraph-modules/adapters/tsconfig.json
  libs/langgraph-modules/core/jest.config.ts
  libs/langgraph-modules/hitl/jest.config.ts
  libs/langgraph-modules/hitl/tsconfig.json
  libs/langgraph-modules/memory/jest.config.ts
  libs/langgraph-modules/memory/tsconfig.json
  libs/langgraph-modules/monitoring/jest.config.ts
  libs/langgraph-modules/monitoring/tsconfig.json
  libs/langgraph-modules/platform/jest.config.ts
  libs/langgraph-modules/workflow-engine/jest.config.ts
  libs/langgraph-modules/workflow-engine/tsconfig.json
  libs/nestjs-chromadb/jest.config.ts
  libs/nestjs-neo4j/jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, npm run validate:package-json

chore(deps): migrate angular ecosystem to 21.x
  .npmrc
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/event-stream.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/execution-control.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/landing-page.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/capabilities-matrix-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/chromadb-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/cta-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/developer-experience-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section-space.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/hero-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/langgraph-core-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/langgraph-memory-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/neo4j-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/problem-solution-section.component.ts
  apps/dev-brand-ui/src/app/features/landing-page/sections/value-propositions-section.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/components/approval-modal.component.ts
  apps/dev-brand-ui/src/app/shared/components/agent-status-panel.component.ts
  apps/dev-brand-ui/src/app/shared/components/auth/login-button.component.ts
  apps/dev-brand-ui/src/app/shared/components/auth/user-profile.component.ts
  apps/dev-brand-ui/src/app/shared/components/code-snippet.component.ts
  apps/dev-brand-ui/src/app/shared/components/progress-indicator.component.ts
  apps/dev-brand-ui/src/app/shared/components/scrolling-code-timeline.component.ts
  apps/dev-brand-ui/src/app/shared/components/token-stream-display.component.ts
  package-lock.json
  package.json
  tsconfig-angular.base.json
Due: prettier --write, eslint --fix

chore(deps): upgrade commitlint to v20
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update remaining packages to latest patch versions
  package-lock.json
  package.json
Due: prettier --write

chore(hooks): fix husky prepare script deprecation
  package.json
Due: prettier --write

fix: revert library packages in app
  apps/dev-brand-api/package.json
Due: prettier --write

refactor(langgraph): remove dead WorkflowStateAnnotation code and re-exports
  libs/langgraph-modules/core/src/index.ts
  libs/langgraph-modules/core/src/lib/annotations/index.ts
  libs/langgraph-modules/core/src/lib/annotations/workflow-state.annotation.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-engine.interface.ts
Due: prettier --write, eslint --fix

refactor(langgraph): remove phantom TState generics from workflow-engine internals
  libs/langgraph-modules/workflow-engine/src/lib/base/agent-node.base.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/metadata-processor.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/base-graph-building.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/functional-node-graph.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/functional-task-graph.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/graph-building.strategy.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/decorator-bridge.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/multi-agent-bridge.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-engine.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/i-multi-agent-graph-builder.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/sequential-graph-builder.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/supervisor-graph-builder.ts
Due: prettier --write, eslint --fix

refactor(langgraph): remove WorkflowState generics from streaming and services
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/multi-agent/agent.types.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/langgraph-command.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/multi-agent-graph-builder.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/workflow-resumption.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/parsers/stream-event.parser.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/transformers/stream-event.transformer.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/types/stream-event.types.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/multi-agent/agent-state-validator.ts
Due: prettier --write, eslint --fix

refactor(langgraph): add hitl structural typing and clean up core type definitions
  libs/langgraph-modules/core/src/index.ts
  libs/langgraph-modules/core/src/lib/interfaces/workflow.interface.ts
  libs/langgraph-modules/hitl/src/index.ts
  libs/langgraph-modules/hitl/src/lib/annotations/hitl-state.annotation.ts
  libs/langgraph-modules/hitl/src/lib/decorators/approval.decorator.ts
  libs/langgraph-modules/hitl/src/lib/interfaces/hitl-state.interface.ts
  libs/langgraph-modules/hitl/src/lib/interfaces/user-interruption.interface.ts
  libs/langgraph-modules/hitl/src/lib/nodes/human-approval.node.ts
  libs/langgraph-modules/hitl/src/lib/routing/workflow-routing.service.ts
  libs/langgraph-modules/hitl/src/lib/services/approval-evaluator.service.ts
  libs/langgraph-modules/hitl/src/lib/services/approval-processing.service.ts
  libs/langgraph-modules/hitl/src/lib/services/approval-workflow.types.ts
  libs/langgraph-modules/hitl/src/lib/services/confidence-evaluator.service.ts
  libs/langgraph-modules/hitl/src/lib/services/feedback-processor.service.ts
  libs/langgraph-modules/hitl/src/lib/services/hitl-approval-request.service.ts
  libs/langgraph-modules/hitl/src/lib/services/human-approval.service.ts
  libs/langgraph-modules/hitl/src/lib/services/user-interruption.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/workflow.decorator.ts
Due: prettier --write, eslint --fix

docs(langgraph): update claude.md files for annotation-based state architecture
  libs/langgraph-modules/core/CLAUDE.md
  libs/langgraph-modules/hitl/CLAUDE.md
  libs/langgraph-modules/workflow-engine/CLAUDE.md
Due: prettier --write

fix(langgraph): address code review issues for type safety and correctness
  libs/langgraph-modules/hitl/src/lib/interfaces/hitl-state.interface.ts
  libs/langgraph-modules/hitl/src/lib/nodes/human-approval.node.ts
  libs/langgraph-modules/workflow-engine/src/lib/base/agent-node.base.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/metadata-processor.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/decorators/functional/workflow.decorator.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/base-graph-building.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/functional-node-graph.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/functional-task-graph.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/graph-building.strategy.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-engine.interface.ts
  task-tracking/TASK_2025_058/code-logic-review.md
  task-tracking/TASK_2025_058/code-style-review.md
Due: prettier --write, eslint --fix

fix(langgraph): add auth guard to execute endpoint and filter empty stream chunks
  apps/dev-brand-api/src/app/business-workflows/workflows/devbrand-supervisor.workflow.ts
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
Due: prettier --write, eslint --fix

feat(langgraph): add domain event routing and timeline types for workflow UI
  apps/dev-brand-ui/src/app/features/devbrand-poc/models/agent-progress.model.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/models/index.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/models/stream-events.model.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/models/timeline.model.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/services/devbrand-workflow-state.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): add orchestration timeline and agent activity panel components
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/agent-activity-panels.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/debug-panel.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/orchestration-timeline.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/streaming-text-display.component.ts
  libs/langgraph-angular/package.json
  libs/langgraph-angular/src/lib/models/config.model.ts
  libs/langgraph-angular/src/lib/models/index.ts
  libs/langgraph-angular/src/lib/models/stream-events.model.ts
  libs/langgraph-angular/src/lib/models/workflow-state.model.ts
Due: prettier --write, eslint --fix, npm run validate:package-json

feat(langgraph): redesign devbrand poc page with orchestration timeline layout
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/event-stream.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/progress-visualization.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/pages/devbrand-poc-page.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/services/devbrand-workflow-state.service.ts
  task-tracking/TASK_2025_059/tasks.md
Due: prettier --write, eslint --fix

docs(langgraph): mark all task_2025_059 batches complete in tasks.md
  task-tracking/TASK_2025_059/tasks.md
Due: prettier --write

fix(langgraph): address code style review issues for type safety and correctness
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/agent-activity-panels.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/debug-panel.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/event-stream.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/orchestration-timeline.component.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/models/agent-registry.const.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/services/devbrand-sse.service.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/services/devbrand-workflow-state.service.ts
Due: prettier --write, eslint --fix

fix(langgraph): address code logic review issues for correctness and robustness
  apps/dev-brand-ui/src/app/features/devbrand-poc/services/devbrand-workflow-state.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): implement langgraph-angular library with streaming and gen-ui
  libs/langgraph-angular/package.json
  libs/langgraph-angular/src/index.ts
  libs/langgraph-angular/src/lib/composables/use-langgraph-approval.ts
  libs/langgraph-angular/src/lib/composables/use-langgraph-streaming.ts
  libs/langgraph-angular/src/lib/composables/use-langgraph-workflow.spec.ts
  libs/langgraph-angular/src/lib/composables/use-langgraph-workflow.ts
  libs/langgraph-angular/src/lib/gen-ui/gen-ui.models.ts
  libs/langgraph-angular/src/lib/gen-ui/generative-ui-registry.service.spec.ts
  libs/langgraph-angular/src/lib/gen-ui/generative-ui-registry.service.ts
  libs/langgraph-angular/src/lib/gen-ui/generative-ui.service.spec.ts
  libs/langgraph-angular/src/lib/gen-ui/generative-ui.service.ts
  libs/langgraph-angular/src/lib/gen-ui/lg-dynamic.component.spec.ts
  libs/langgraph-angular/src/lib/gen-ui/lg-dynamic.component.ts
  libs/langgraph-angular/src/lib/models/stream-events.model.spec.ts
  libs/langgraph-angular/src/lib/providers/provide-langgraph.ts
  libs/langgraph-angular/src/lib/services/langgraph-sse.service.spec.ts
  libs/langgraph-angular/src/lib/services/langgraph-sse.service.ts
  libs/langgraph-angular/src/lib/services/langgraph-streaming.service.spec.ts
  libs/langgraph-angular/src/lib/services/langgraph-streaming.service.ts
  libs/langgraph-angular/src/lib/services/langgraph-workflow-state.service.spec.ts
  libs/langgraph-angular/src/lib/services/langgraph-workflow-state.service.ts
  libs/langgraph-angular/tsconfig.spec.json
Due: prettier --write, eslint --fix, npm run validate:package-json

feat(langgraph): add research workflow models and fix missing sse listeners
  apps/dev-brand-ui/src/app/features/research-chat/models/index.ts
  apps/dev-brand-ui/src/app/features/research-chat/models/research-workflow.model.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research.service.ts
Due: prettier --write, eslint --fix

feat(langgraph): add research workflow state service with domain event routing
  apps/dev-brand-ui/src/app/features/research-chat/services/research-workflow-state.service.ts
Due: prettier --write, eslint --fix

chore(docs): remove outdated documentation files
  apps/dev-brand-ui/src/app/temp-eslint-test/test-violation-namespace.ts
  docs/06-demo-script.md
  docs/CRITICAL_FIXES_2025_01_11.md
  docs/FIX_VERIFICATION_PROTOCOL.md
  docs/FUNCTIONAL_TASK_TOOL_CALLING_DESIGN.md
  docs/LOG_ANALYSIS_2025_01_11.md
  docs/MEMORY_HEALTH_CHECK_INVESTIGATION_2025_01_11.md
  docs/PHASE_5_ARCHITECTURE_DESIGN.md
  docs/RESEARCH_CHAT_REDESIGN_TASK.md
  docs/Screenshot 2025-11-11 011600.png
  docs/Screenshot 2025-11-11 011649.png
  docs/WORKFLOW_ENHANCEMENT_PROPOSAL.md
  docs/angular-3d/HYBRID_UI_COMPONENT_MIGRATION_MAP.md
  docs/angular-3d/HYBRID_UI_MIGRATION_STRATEGY.md
  docs/angular-3d/HYBRID_UI_THREE_AUDIT.md
  docs/angular-3d/LANDING_PAGE_3D_MIGRATION_STRATEGY.md
  docs/dev_brand_ui/CONSOLIDATED_DECORATOR_UNIFICATION.md
  docs/dev_brand_ui/DEVBRAND_CHAT_STUDIO_MVP_PLAN.md
  docs/dev_brand_ui/ENHANCED_AGENT_ARCHITECTURE_IMPLEMENTATION.md
  docs/dev_brand_ui/devbrand-revolutionary-ux.md
  docs/langGraph-llm-full.txt
  docs/our-chat-design.png
Due: prettier --write, eslint --fix

feat(langgraph): add research workflow state service with domain event routing
  .claude/settings.local.json
  apps/dev-brand-api/.env.example
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/auth/guards/jwt-auth.guard.ts
  apps/dev-brand-api/src/app/config/neo4j.config.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/execution-control.component.ts
  docker-compose.dev.yml
  libs/langgraph-modules/adapters/src/lib/repositories/neo4j/thread-registry.repository.ts
  libs/langgraph-modules/core/src/lib/interfaces/state-management.interface.ts
  libs/langgraph-modules/hitl/src/lib/hitl.module.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/multi-agent/agent.types.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/multi-agent/builders/supervisor-graph-builder.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/parsers/stream-event.parser.ts
  libs/nestjs-neo4j/src/lib/services/neogma.service.ts
  libs/nestjs-neo4j/src/lib/utilities/parameter-binding.utility.ts
  localhost-1773168077437.log
  log.md
  nx.json
  task-tracking/TASK_2025_058/context.md
  task-tracking/TASK_2025_058/implementation-plan.md
  task-tracking/TASK_2025_058/tasks.md
  task-tracking/TASK_2025_059/code-review.md
  task-tracking/TASK_2025_059/context.md
  task-tracking/TASK_2025_059/implementation-plan.md
  task-tracking/TASK_2025_059/task-description.md
  task-tracking/TASK_2025_059/tasks.md
  task-tracking/TASK_2025_060/context.md
  task-tracking/TASK_2025_060/implementation-plan.md
  task-tracking/TASK_2025_060/task-description.md
  task-tracking/TASK_2025_060/tasks.md
  task-tracking/TASK_2025_061/context.md
  task-tracking/TASK_2025_061/implementation-plan.md
  task-tracking/TASK_2025_061/task-description.md
  task-tracking/TASK_2025_061/tasks.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(langgraph): add research timeline and debug panel components
  apps/dev-brand-ui/src/app/features/research-chat/components/research-debug-panel.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/components/research-timeline.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/models/index.ts
  apps/dev-brand-ui/src/app/features/research-chat/models/research-workflow.model.ts
  task-tracking/TASK_2025_061/tasks.md
Due: prettier --write, eslint --fix

refactor(langgraph): rewrite research-chat component with signal-based state
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.html
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.scss
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.ts
  task-tracking/TASK_2025_061/tasks.md
Due: prettier --write, eslint --fix
