Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json

fix(langgraph): address code style review issues for research workflow
  apps/dev-brand-ui/src/app/features/research-chat/components/research-debug-panel.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/models/index.ts
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research-workflow-state.service.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research.service.ts
Due: prettier --write, eslint --fix

fix(langgraph): address code logic review issues for research workflow
  apps/dev-brand-ui/src/app/features/research-chat/research-chat.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research-workflow-state.service.ts
Due: prettier --write, eslint --fix

fix(langgraph): pass auth context through workflow resumption after HITL approval
  apps/dev-brand-api/src/app/business-workflows/controllers/research-chat.controller.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/workflow-execution.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/workflow-resumption.service.ts
  task-tracking/TASK_2025_061/code-review.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(langgraph): add streaming resume for HITL workflow continuation
  apps/dev-brand-api/reports/detailed-research-report-on-the-latest-angularjs-release.md
  apps/dev-brand-api/reports/professional-report-latest-angularjs-release.md
  apps/dev-brand-api/src/app/business-workflows/agents/researcher.agent.ts
  apps/dev-brand-api/src/app/business-workflows/controllers/research-chat.controller.ts
  apps/dev-brand-api/src/app/business-workflows/core/tools/file-operation.tools.ts
  apps/dev-brand-api/src/app/business-workflows/core/tools/web-research.tools.ts
  apps/dev-brand-api/src/app/config/workflow-engine.config.ts
  apps/dev-brand-ui/src/app/features/devbrand-poc/components/streaming-text-display.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/components/research-timeline.component.ts
  apps/dev-brand-ui/src/app/features/research-chat/models/research-workflow.model.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research-workflow-state.service.ts
  apps/dev-brand-ui/src/app/features/research-chat/services/research.service.ts
  apps/dev-brand-ui/src/app/shared/services/conversation-api.service.ts
  docker-compose.dev.yml
  libs/langgraph-modules/workflow-engine/src/lib/core/metadata-processor.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/execution/strategies/functional-task-graph.strategy.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/llm-config.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/llm/llm-provider.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/workflow-resumption.service.ts
  package-lock.json
  task-tracking/TASK_2025_062/context.md
  task-tracking/TASK_2025_062/tasks.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

fix(hooks): convert husky scripts from crlf to lf
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(neo4j): remove unused isInt import from neogma service
  libs/nestjs-neo4j/src/lib/services/neogma.service.ts
Due: prettier --write, eslint --fix

fix(langgraph): resolve typecheck errors across affected projects
  apps/dev-brand-api/src/app/business-workflows/controllers/research-chat.controller.ts
  apps/dev-brand-api/src/app/controllers/devbrand.controller.ts
  libs/langgraph-angular/tsconfig.json
Due: prettier --write, eslint --fix

chore(scripts): ignore local .itqan ops directory
  .gitignore
Due: none

feat(scripts): scaffold e2e-diagnostics nx app
  apps/e2e-diagnostics/.gitignore
  apps/e2e-diagnostics/.spec.swcrc
  apps/e2e-diagnostics/eslint.config.mjs
  apps/e2e-diagnostics/project.json
  apps/e2e-diagnostics/src/index.ts
  apps/e2e-diagnostics/tsconfig.json
  apps/e2e-diagnostics/tsconfig.spec.json
  package.json
Due: prettier --write, eslint --fix

feat(scripts): add probe contracts and run-context types
  apps/e2e-diagnostics/src/contracts/index.ts
  apps/e2e-diagnostics/src/contracts/probe.contract.ts
  apps/e2e-diagnostics/src/contracts/report.types.ts
  apps/e2e-diagnostics/src/contracts/run-context.ts
Due: prettier --write, eslint --fix

feat(scripts): add run-collector preflight and fixture-cleaner services
  apps/e2e-diagnostics/src/harness/service-clients.ts
  apps/e2e-diagnostics/src/services/fixture-cleaner.service.ts
  apps/e2e-diagnostics/src/services/preflight.service.ts
  apps/e2e-diagnostics/src/services/run-collector.service.ts
Due: prettier --write, eslint --fix

feat(scripts): add diagnostic jest reporter and report renderers
  apps/e2e-diagnostics/jest.config.ts
  apps/e2e-diagnostics/src/reporting/diagnostic-reporter.cjs
  apps/e2e-diagnostics/src/reporting/diagnostic-reporter.ts
  apps/e2e-diagnostics/src/reporting/global-collector.ts
  apps/e2e-diagnostics/src/reporting/json-renderer.ts
  apps/e2e-diagnostics/src/reporting/markdown-renderer.ts
  apps/e2e-diagnostics/src/reporting/report-folder.ts
Due: prettier --write, eslint --fix

feat(langgraph): add layer-1 boot-smoke probe for dev-brand-api
  apps/e2e-diagnostics/src/harness/nest-boot.ts
  apps/e2e-diagnostics/src/probes/layer-1-boot/dev-brand-api-boot.probe.ts
Due: prettier --write, eslint --fix

feat(chromadb): add layer-2 chromadb and neo4j diagnostic probes
  apps/e2e-diagnostics/src/probes/layer-2-libs/chromadb.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/neo4j.probe.ts
Due: prettier --write, eslint --fix

feat(langgraph): add layer-2 workflow-engine core monitoring and memory probes
  apps/e2e-diagnostics/src/probes/layer-2-libs/core.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/memory.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/monitoring.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/workflow-engine.probe.ts
Due: prettier --write, eslint --fix

feat(langgraph): add layer-2 hitl and adapters-sqlite probes
  apps/e2e-diagnostics/src/probes/layer-2-libs/adapters-sqlite.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/hitl.probe.ts
Due: prettier --write, eslint --fix

feat(langgraph): add layer-2 platform missing and langgraph-angular skipped probes
  apps/e2e-diagnostics/src/probes/layer-2-libs/langgraph-angular.probe.ts
  apps/e2e-diagnostics/src/probes/layer-2-libs/platform.probe.ts
Due: prettier --write, eslint --fix

feat(langgraph): add layer-3 full-rag-flow diagnostic probe
  apps/e2e-diagnostics/src/probes/layer-3-rag/full-rag-flow.probe.ts
  apps/e2e-diagnostics/src/probes/layer-3-rag/synthetic-document.ts
Due: prettier --write, eslint --fix

feat(langgraph): wire diagnostic suite orchestration and findings appender
  apps/e2e-diagnostics/src/reporting/findings-appender.ts
  apps/e2e-diagnostics/src/suite.spec.ts
Due: prettier --write, eslint --fix

docs(langgraph): document e2e-diagnostics suite and record initial findings
  apps/e2e-diagnostics/README.md
  task-tracking/TASK_2025_063/context.md
  task-tracking/TASK_2025_063/future-enhancements.md
  task-tracking/TASK_2025_063/implementation-plan.md
  task-tracking/TASK_2025_063/research-report.md
  task-tracking/TASK_2025_063/task-description.md
  task-tracking/TASK_2025_063/tasks.md
  task-tracking/registry.md
Due: prettier --write

chore(scripts): ignore per-app .env files
  .gitignore
Due: none

docs(docs): correct langgraph module count and lib list in claude.md
  CLAUDE.md
Due: prettier --write

docs(langgraph): append fresh diagnostic run findings to future-enhancements
  task-tracking/TASK_2025_063/future-enhancements.md
Due: prettier --write

chore(scripts): sync tsconfig project references for e2e-diagnostics
  apps/e2e-diagnostics/tsconfig.json
Due: prettier --write

fix(langgraph): resolve err_require_esm in checkpoint saver factory
  apps/dev-brand-api/src/app/config/checkpoint.config.ts
  task-tracking/TASK_2025_064/context.md
  task-tracking/TASK_2025_064/implementation-plan.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

chore(scripts): enable jest vm modules flag for e2e run
  package.json
Due: prettier --write

feat(scripts): add dev-brand-api test-bootstrap bundle with inlined esm deps
  apps/dev-brand-api/project.json
  apps/dev-brand-api/src/test-bootstrap.ts
  apps/dev-brand-api/webpack.test-bootstrap.config.js
Due: prettier --write, eslint --fix

chore(scripts): ignore dist-test build output
  .gitignore
Due: none

refactor(scripts): load dev-brand-api test-bootstrap bundle in e2e harness
  apps/e2e-diagnostics/jest.config.ts
  apps/e2e-diagnostics/project.json
  apps/e2e-diagnostics/src/harness/nest-boot.ts
Due: prettier --write, eslint --fix

docs(langgraph): document task_2025_065 harness redesign and findings
  task-tracking/TASK_2025_063/future-enhancements.md
  task-tracking/TASK_2025_065/context.md
  task-tracking/TASK_2025_065/implementation-plan.md
  task-tracking/TASK_2025_065/tasks.md
  task-tracking/registry.md
Due: prettier --write

chore(scripts): sync tsconfig project references after harness rewire
  apps/e2e-diagnostics/tsconfig.json
Due: prettier --write

fix(scripts): alias tslib to cjs entry in test-bootstrap bundle
  apps/dev-brand-api/webpack.test-bootstrap.config.js
  task-tracking/TASK_2025_066/context.md
  task-tracking/TASK_2025_066/implementation-plan.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

docs(langgraph): append run findings after tslib fix
  task-tracking/TASK_2025_063/future-enhancements.md
Due: prettier --write

fix(scripts): externalize nestjs core and common in test-bootstrap
  apps/dev-brand-api/webpack.test-bootstrap.config.js
  task-tracking/TASK_2025_067/context.md
  task-tracking/TASK_2025_067/implementation-plan.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

docs(langgraph): append findings after cls fix
  task-tracking/TASK_2025_063/future-enhancements.md
Due: prettier --write

docs(langgraph): append findings after env audit and service boot
  task-tracking/TASK_2025_063/future-enhancements.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  eslint --fix: any of: *.{ts,js}
  npm run validate:package-json: any of: libs/*/package.json
