Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore: build scripts
  .github/workflows/pr-checks.yml
  .github/workflows/typescript-validation.yml
Due: none

chore: checkpoint before new adapter pattern task
  dep-graph.json
  docker-log.txt
  libs/langgraph-modules/checkpoint/project.json
  libs/langgraph-modules/checkpoint/tsconfig.lib.json
  libs/langgraph-modules/hitl/tsconfig.lib.json
  libs/langgraph-modules/streaming/tsconfig.lib.json
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-imports.providers.ts
  log.txt
  package.json
  task-tracking/TASK_INT_009/integration-example.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Subtask 1 - Create adapter interface and base classes
  .claude/settings.local.json
  .lintstagedrc.json
  libs/nestjs-langgraph/src/lib/adapters/base/base.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/checkpoint.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/adapters/interfaces/adapter.interface.ts
  libs/nestjs-langgraph/src/lib/adapters/memory.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/multi-agent.adapter.ts
  task-tracking/TASK_INT_010/context.md
  task-tracking/TASK_INT_010/implementation-plan.md
  task-tracking/TASK_INT_010/progress.md
  task-tracking/TASK_INT_010/task-description.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): create 6 missing adapters following checkpoint pattern
  libs/nestjs-langgraph/src/lib/adapters/functional-api.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/hitl.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/adapters/monitoring.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/platform.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/streaming.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/time-travel.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/workflow-engine.adapter.ts
  task-tracking/TASK_INT_010/progress.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): replace complex dynamic loading with adapter-based system
  libs/nestjs-langgraph/src/lib/interfaces/module-options.interface.ts
  libs/nestjs-langgraph/src/lib/providers/index.ts
  libs/nestjs-langgraph/src/lib/providers/simplified-child-module-loading.ts
  task-tracking/TASK_INT_010/progress.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Phase 1 - direct adapter injection
  .claude/statusline.sh
  ARCHITECTURAL_ANALYSIS_PLAN.md
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/controllers/adapter-test.controller.ts
  apps/dev-brand-api/src/app/services/adapter-test.service.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/examples/adapter-injection.examples.ts
  libs/nestjs-langgraph/src/lib/providers/module.providers.ts
  task-tracking/TASK_INT_010/architectural-analysis.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): implement Phase 2 Subtask 1 - Database Provider Interface and Factory
  .claude/settings.local.json
  .claude/statusline-minimal.sh
  .claude/statusline.ps1
  .claude/statusline.sh
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/memory/index.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/database-provider.interface.ts
  libs/nestjs-langgraph/src/lib/memory/providers/database-provider.factory.ts
  libs/nestjs-langgraph/src/lib/memory/providers/memory-provider.module.ts
  task-tracking/TASK_INT_010/progress.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Phase 2 - Memory Architecture Consolidation
  .claude/settings.local.json
  .claude/status-line.ps1
  .claude/statusline-minimal.sh
  .claude/statusline.sh
  libs/dev-brand/backend/data-access/src/index.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/adapters/memory-adapter-bridge.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/errors/memory-errors.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/health/memory-health.service.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/interfaces/memory.interface.ts
  libs/dev-brand/backend/data-access/src/lib/agentic-memory/memory.module.ts
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/adapters/__tests__/memory.adapter.spec.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/adapters/memory-adapter.provider.ts
  libs/nestjs-langgraph/src/lib/adapters/memory.adapter.ts
  libs/nestjs-langgraph/src/lib/config/memory-integration.config.ts
  libs/nestjs-langgraph/src/lib/constants/memory-adapter.constants.ts
  libs/nestjs-langgraph/src/lib/interfaces/module-options.interface.ts
  libs/nestjs-langgraph/src/lib/memory/__tests__/memory-integration.spec.ts
  libs/nestjs-langgraph/src/lib/memory/errors/memory-errors.ts
  libs/nestjs-langgraph/src/lib/memory/index.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/memory.interface.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-facade.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-graph.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-orchestrator.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-retention.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-stats.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-storage.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/semantic-search.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/summarization.service.ts
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/providers/memory.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module-exports.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module.providers.ts
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

refactor(langgraph): update memory library
  .claude/agents/code-reviewer.md
  .claude/agents/senior-tester.md
  .claude/commands/review-code.md
  .claude/commands/review-logic.md
  .claude/commands/review-security.md
  senior-tester-fixes-validation.md
  task-tracking/TASK_INT_011/architecture-validation.test.ts
  task-tracking/TASK_INT_011/code-review.md
  task-tracking/TASK_INT_011/completion-report.md
  task-tracking/TASK_INT_011/edge-case-testing.test.ts
  task-tracking/TASK_INT_011/integration-direct-db.test.ts
  task-tracking/TASK_INT_011/performance-benchmark.test.ts
  task-tracking/TASK_INT_011/progress-improved.md
  task-tracking/TASK_INT_011/progress.md
  task-tracking/TASK_INT_011/standalone-memory-unit.test.ts
  task-tracking/TASK_INT_011/test-execution-guide.md
  task-tracking/TASK_INT_011/test-report.md
Due: prettier --write, eslint --fix

feat(langgraph): complete Phase 1 - eliminate dual memory system
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/adapters/__tests__/memory-integration-bridge.spec.ts
  libs/nestjs-langgraph/src/lib/adapters/__tests__/memory.adapter.spec.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/adapters/memory-adapter.provider.ts
  libs/nestjs-langgraph/src/lib/adapters/memory.adapter.ts
  libs/nestjs-langgraph/src/lib/examples/adapter-injection.examples.ts
  libs/nestjs-langgraph/src/lib/memory/__tests__/memory-integration.spec.ts
  libs/nestjs-langgraph/src/lib/memory/adapters/chromadb-vector.adapter.ts
  libs/nestjs-langgraph/src/lib/memory/adapters/neo4j-graph.adapter.ts
  libs/nestjs-langgraph/src/lib/memory/errors/memory-errors.ts
  libs/nestjs-langgraph/src/lib/memory/index.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/database-provider.interface.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/graph-database.interface.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/memory.interface.ts
  libs/nestjs-langgraph/src/lib/memory/interfaces/vector-database.interface.ts
  libs/nestjs-langgraph/src/lib/memory/providers/database-provider.factory.ts
  libs/nestjs-langgraph/src/lib/memory/providers/memory-provider.module.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-facade.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-graph.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-orchestrator.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-retention.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-stats.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/memory-storage.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/semantic-search.service.ts
  libs/nestjs-langgraph/src/lib/memory/services/summarization.service.ts
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/providers/memory.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module-exports.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module.providers.ts
  libs/nestjs-memory/src/lib/interfaces/memory-module-options.interface.ts
  libs/nestjs-memory/src/lib/services/memory-graph.service.ts
  libs/nestjs-memory/src/lib/services/memory-storage.service.ts
  senior-tester-fixes-validation.md
  software-architect-agent-fix-report.md
  task-tracking/TASK_INT_011/continuation-assessment.md
  task-tracking/TASK_INT_011/progress.md
  task-tracking/TASK_INT_011/task-description.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore(langgraph): checkpoint before Phase 2 adapter elimination
  task-tracking/TASK_INT_011/progress.md
  typescript-validation-report.json
Due: prettier --write

feat(langgraph): complete Phase 2 - Core Library Simplification
  libs/nestjs-langgraph/src/index.ts
  libs/nestjs-langgraph/src/lib/adapters/base/base.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/checkpoint-adapter.provider.ts
  libs/nestjs-langgraph/src/lib/adapters/checkpoint.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/functional-api.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/hitl.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/index.ts
  libs/nestjs-langgraph/src/lib/adapters/interfaces/adapter.interface.ts
  libs/nestjs-langgraph/src/lib/adapters/monitoring.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/multi-agent-adapter.provider.ts
  libs/nestjs-langgraph/src/lib/adapters/multi-agent.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/platform.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/streaming.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/time-travel.adapter.ts
  libs/nestjs-langgraph/src/lib/adapters/workflow-engine.adapter.ts
  libs/nestjs-langgraph/src/lib/providers/infrastructure.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module-exports.providers.ts
  libs/nestjs-langgraph/src/lib/providers/module.providers.ts
  task-tracking/TASK_INT_011/progress.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Phase 2 - eliminate adapter system complexity
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.spec.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-loading.spec.ts
  task-tracking/TASK_INT_011/phase2-test-execution-report.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Phase 3 Subtask 3.1 - eliminate dynamic loading system
  libs/nestjs-langgraph/src/lib/nestjs-langgraph.module.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-loading.spec.ts
  libs/nestjs-langgraph/src/lib/providers/child-module-loading.ts
  libs/nestjs-langgraph/src/lib/providers/index.ts
  task-tracking/TASK_INT_011/implementation-plan.md
  task-tracking/TASK_INT_011/progress.md
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(langgraph): complete Phase 3 Subtask 3.3 - migrate to modular config
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/config/checkpoint.config.ts
  apps/dev-brand-api/src/app/config/hitl.config.ts
  apps/dev-brand-api/src/app/config/langgraph-core.config.ts
  apps/dev-brand-api/src/app/config/streaming.config.ts
  apps/dev-brand-api/tsconfig.app.json
  apps/dev-brand-api/tsconfig.json
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-manager.service.ts
  task-tracking/TASK_INT_011/migration-example.md
  task-tracking/TASK_INT_011/progress.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

test(langgraph): add testing for new architecture
  .github/chatmodes/dev-agent.chatmode.md
  .github/chatmodes/spec-agent.chatmode.md
  apps/dev-brand-api/src/app/tests/modular-architecture.integration.spec.ts
  libs/langgraph-modules/checkpoint/src/lib/tests/checkpoint.independence.spec.ts
  libs/langgraph-modules/hitl/src/lib/tests/hitl.independence.spec.ts
  libs/langgraph-modules/streaming/src/lib/tests/streaming.independence.spec.ts
  task-tracking/TASK_INT_011/progress.md
  tests/integration/architecture-validation.spec.ts
  tests/performance/architecture-migration.benchmark.spec.ts
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

refactor: fix configuration object for chroma and neo4j
  libs/nestjs-chromadb/src/lib/interfaces/chromadb-module-options.interface.ts
  libs/nestjs-neo4j/src/lib/interfaces/neo4j-module-options.interface.ts
  typescript-validation-report.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

refactor: fix configuration object for chroma and neo4j
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .kiro/specs/ai-saas-starter-ecosystem/design.md
  docs/TRUNK-BASED-DEVELOPMENT.md
Due: prettier --write

refactor: fix configuration object for chroma and neo4j
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/config/functional-api.config.ts
  apps/dev-brand-api/src/app/config/memory.config.ts
  apps/dev-brand-api/src/app/config/monitoring.config.ts
  apps/dev-brand-api/src/app/config/multi-agent.config.ts
  apps/dev-brand-api/src/app/config/platform.config.ts
  apps/dev-brand-api/src/app/config/time-travel.config.ts
  apps/dev-brand-api/src/app/config/workflow-engine.config.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/__tests__/custom-adapter-integration.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/chroma-vector.adapter.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/neo4j-graph.adapter.ts
  libs/langgraph-modules/nestjs-memory/src/lib/extensibility.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/interfaces/graph-service.interface.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/interfaces/vector-service.interface.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/memory.module.ts
  libs/langgraph-modules/nestjs-memory/src/lib/performance.benchmark.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/services/memory-graph.service.ts
  libs/langgraph-modules/nestjs-memory/src/lib/services/memory.service.ts
  task-tracking/TASK_INT_012/code-review.md
  task-tracking/TASK_INT_012/progress.md
  task-tracking/TASK_INT_012/test-report.md
  tsconfig.base.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore: checkpoint before TASK_INT_012 refactoring
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/config/functional-api.config.ts
  apps/dev-brand-api/src/app/config/monitoring.config.ts
  apps/dev-brand-api/src/app/config/multi-agent.config.ts
  apps/dev-brand-api/src/app/config/platform.config.ts
  apps/dev-brand-api/src/app/config/time-travel.config.ts
  apps/dev-brand-api/src/app/config/workflow-engine.config.ts
  apps/dev-brand-api/tsconfig.app.json
  apps/dev-brand-api/tsconfig.json
  libs/langgraph-modules/multi-agent/package.json
  libs/langgraph-modules/nestjs-memory/package.json
  libs/langgraph-modules/nestjs-memory/tsconfig.json
  libs/langgraph-modules/nestjs-memory/tsconfig.lib.json
  libs/langgraph-modules/time-travel/src/lib/time-travel.module.ts
  package-lock.json
  task-tracking/TASK_INT_007/day-3-code-review.md
  tsconfig.base.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(TASK_INT_012): complete adapter pattern refactoring for memory module
  .claude/settings.local.json
  apps/dev-brand-api/src/app/adapters/index.ts
  apps/dev-brand-api/src/app/adapters/memory/chroma-vector.adapter.ts
  apps/dev-brand-api/src/app/adapters/memory/neo4j-graph.adapter.ts
  apps/dev-brand-api/src/app/app.module.ts
  libs/langgraph-modules/nestjs-memory/src/index.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/__tests__/custom-adapter-integration.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/chroma-vector.adapter.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/adapters/neo4j-graph.adapter.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/extensibility.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/interfaces/graph-service.interface.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/interfaces/graph-service.interface.ts
  libs/langgraph-modules/nestjs-memory/src/lib/interfaces/vector-service.interface.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/memory.module.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/memory.module.ts
  libs/langgraph-modules/nestjs-memory/src/lib/performance.benchmark.spec.ts
  libs/langgraph-modules/nestjs-memory/src/lib/services/memory-graph.service.ts
  libs/langgraph-modules/nestjs-memory/tsconfig.lib.json
  task-tracking/TASK_INT_012/progress.md
  task-tracking/TASK_INT_012_REFACTOR/implementation-plan.md
  task-tracking/TASK_INT_012_REFACTOR/progress.md
  task-tracking/TASK_INT_012_REFACTOR/task-description.md
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

feat(deps): complete Phase 1 - build system repair and health endpoints
  apps/dev-brand-api/package.json
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/src/app/controllers/health.controller.ts
  apps/dev-brand-api/tsconfig.tsbuildinfo
  libs/langgraph-modules/nestjs-memory/package.json
  libs/langgraph-modules/nestjs-memory/project.json
  package-lock.json
  task-tracking/TASK_INT_014/context.md
  task-tracking/TASK_INT_014/implementation-plan.md
  task-tracking/TASK_INT_014/progress.md
  task-tracking/TASK_INT_014/task-description.md
  typescript-validation-report.json
Due: prettier --write, eslint --fix

feat(TASK_INT_015): complete systematic library configuration standardization
  task-tracking/TASK_INT_015/progress.md
Due: prettier --write

docs: add comprehensive Library Setup Manual
  LIBRARY_SETUP_MANUAL.md
Due: prettier --write

chore(deps): install missing dependancy
  libs/langgraph-modules/checkpoint/package.json
  libs/langgraph-modules/functional-api/package.json
  libs/langgraph-modules/monitoring/package.json
  libs/langgraph-modules/multi-agent/package.json
  libs/langgraph-modules/platform/package.json
  libs/langgraph-modules/streaming/package.json
  libs/langgraph-modules/time-travel/package.json
  libs/langgraph-modules/workflow-engine/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix paths in tsconfig
  libs/langgraph-modules/nestjs-langgraph/tsconfig.json
  libs/langgraph-modules/nestjs-langgraph/tsconfig.lib.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix paths in tsconfig
  .gitignore
  dep-graph.json
  eslint.config.mjs
  libs/dev-brand/backend/data-access/tsconfig.tsbuildinfo
  libs/langgraph-modules/checkpoint/tsconfig.tsbuildinfo
  libs/langgraph-modules/core/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/functional-api/package.json
  libs/langgraph-modules/functional-api/rollup.config.js
  libs/langgraph-modules/functional-api/src/lib/functional-api.module.ts
  libs/langgraph-modules/functional-api/src/lib/services/workflow-discovery.service.ts
  libs/langgraph-modules/functional-api/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/functional-api/tsconfig.tsbuildinfo
  libs/langgraph-modules/hitl/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/memory/tsconfig.tsbuildinfo
  libs/langgraph-modules/monitoring/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/multi-agent/package.json
  libs/langgraph-modules/multi-agent/rollup.config.js
  libs/langgraph-modules/multi-agent/src/lib/multi-agent.module.ts
  libs/langgraph-modules/multi-agent/src/lib/tools/tool-discovery.service.ts
  libs/langgraph-modules/multi-agent/src/lib/tools/tool-registry.service.ts
  libs/langgraph-modules/multi-agent/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/multi-agent/tsconfig.tsbuildinfo
  libs/langgraph-modules/nestjs-langgraph/tsconfig.tsbuildinfo
  libs/langgraph-modules/platform/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/time-travel/tsconfig.lib.tsbuildinfo
  libs/langgraph-modules/time-travel/tsconfig.tsbuildinfo
  libs/nestjs-chromadb/tsconfig.tsbuildinfo
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore(deps): fix build with rollup and exlcude our demo apps
  .claude/agents/backend-developer.md
  .claude/agents/business-analyst.md
  .claude/agents/frontend-developer.md
  .claude/agents/modernization-detector.md
  .claude/commands/orchestrate.md
  .claude/commands/review-code.md
  .claude/commands/review-logic.md
  .claude/commands/review-security.md
  .claude/settings.local.json
  apps/dev-brand-api/project.json
  eslint.library.config.mjs
  libs/langgraph-modules/checkpoint/package.json
  libs/langgraph-modules/core/eslint.config.mjs
  libs/langgraph-modules/core/package.json
  libs/langgraph-modules/core/rollup.dts.config.js
  libs/langgraph-modules/functional-api/package.json
  libs/langgraph-modules/hitl/eslint.config.mjs
  libs/langgraph-modules/hitl/package.json
  libs/langgraph-modules/hitl/src/lib/tests/hitl.independence.spec.ts
  libs/langgraph-modules/memory/package.json
  libs/langgraph-modules/monitoring/package.json
  libs/langgraph-modules/multi-agent/package.json
  libs/langgraph-modules/platform/package.json
  libs/langgraph-modules/streaming/eslint.config.mjs
  libs/langgraph-modules/streaming/package.json
  libs/langgraph-modules/streaming/src/lib/tests/streaming.independence.spec.ts
  libs/langgraph-modules/time-travel/package.json
  libs/langgraph-modules/workflow-engine/eslint.config.mjs
  libs/langgraph-modules/workflow-engine/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore: add typecheck command to all libs
  apps/dev-brand-api/project.json
  libs/dev-brand/backend/data-access/project.json
  libs/dev-brand/backend/feature/project.json
  libs/langgraph-modules/checkpoint/project.json
  libs/langgraph-modules/core/project.json
  libs/langgraph-modules/functional-api/project.json
  libs/langgraph-modules/hitl/project.json
  libs/langgraph-modules/memory/project.json
  libs/langgraph-modules/monitoring/project.json
  libs/langgraph-modules/multi-agent/project.json
  libs/langgraph-modules/nestjs-langgraph/package.json
  libs/langgraph-modules/nestjs-langgraph/project.json
  libs/langgraph-modules/platform/project.json
  libs/langgraph-modules/streaming/project.json
  libs/langgraph-modules/time-travel/project.json
  libs/langgraph-modules/workflow-engine/project.json
  libs/nestjs-chromadb/project.json
  libs/nestjs-chromadb/tsconfig.tsbuildinfo
  libs/nestjs-neo4j/project.json
  nx.json
Due: prettier --write

chore: remove unused libs
  apps/dev-brand-api/project.json
  apps/dev-brand-api/src/app/app.module.ts
  apps/dev-brand-api/tsconfig.app.json
  libs/dev-brand/backend/data-access/.spec.swcrc
  libs/dev-brand/backend/data-access/CLAUDE.md
  libs/dev-brand/backend/data-access/README.md
  libs/dev-brand/backend/data-access/eslint.config.mjs
  libs/dev-brand/backend/data-access/jest.config.ts
  libs/dev-brand/backend/data-access/package.json
  libs/dev-brand/backend/data-access/project.json
  libs/dev-brand/backend/data-access/rollup.config.js
  libs/dev-brand/backend/data-access/src/index.ts
  libs/dev-brand/backend/data-access/tsconfig.json
  libs/dev-brand/backend/data-access/tsconfig.lib.json
  libs/dev-brand/backend/data-access/tsconfig.spec.json
  libs/dev-brand/backend/feature/.spec.swcrc
  libs/dev-brand/backend/feature/README.md
  libs/dev-brand/backend/feature/eslint.config.mjs
  libs/dev-brand/backend/feature/jest.config.ts
  libs/dev-brand/backend/feature/package.json
  libs/dev-brand/backend/feature/project.json
  libs/dev-brand/backend/feature/rollup.config.js
  libs/dev-brand/backend/feature/src/index.ts
  libs/dev-brand/backend/feature/src/lib/devbrand-backend-feature.module.ts
  libs/dev-brand/backend/feature/tsconfig.json
  libs/dev-brand/backend/feature/tsconfig.lib.json
  libs/dev-brand/backend/feature/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, nx affected:lint, node scripts/typescript-fixes/validate-types.js typescript

chore: fix build target for all libs
  apps/devbrand-ui/angular.json
  apps/devbrand-ui/project.json
  apps/devbrand-ui/proxy.conf.json
  apps/devbrand-ui/src/app/app.component.ts
  apps/devbrand-ui/src/app/app.routes.ts
  apps/devbrand-ui/src/index.html
  apps/devbrand-ui/src/main.ts
  apps/devbrand-ui/src/styles.scss
  apps/devbrand-ui/tailwind.config.js
  apps/devbrand-ui/tsconfig.app.json
  apps/devbrand-ui/tsconfig.json
  libs/langgraph-modules/checkpoint/tsconfig.json
  libs/langgraph-modules/checkpoint/tsconfig.lib.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  eslint --fix: any of: *.{ts,js}
  npm run validate:package-json: any of: libs/*/package.json
  nx affected:lint: any of: libs/**/*.ts
  node scripts/typescript-fixes/validate-types.js typescript: any of: libs/**/*.ts
