Repository Hive-Academy/nestjs-ai-saas-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run validate:package-json

feat(langgraph): complete Phase 1 - Memory Library Internal Updates
  .claude/settings.local.json
  docs/audits/AUDIT_CORE_STUBBED.md
  docs/audits/AUDIT_NEO4J_STUBBED.md
  libs/langgraph-modules/checkpoint/src/lib/core/checkpoint-health.service.ts
  libs/langgraph-modules/core/src/index.ts
  libs/langgraph-modules/core/src/lib/annotations/workflow-state.annotation.ts
  libs/langgraph-modules/core/src/lib/core.module.ts
  libs/langgraph-modules/core/src/lib/utils/id-generation.utils.ts
  libs/langgraph-modules/hitl/src/lib/services/approval-chain.service.ts
  libs/langgraph-modules/hitl/src/lib/services/feedback-processor.service.ts
  libs/langgraph-modules/hitl/src/lib/services/human-approval.service.ts
  libs/langgraph-modules/hitl/src/lib/services/user-interruption.service.ts
  libs/langgraph-modules/memory/src/index.ts
  libs/langgraph-modules/memory/src/lib/interfaces/agent-memory.interface.ts
  libs/langgraph-modules/memory/src/lib/interfaces/langgraph-store.interface.ts
  libs/langgraph-modules/memory/src/lib/interfaces/memory-adapter.interface.ts
  libs/langgraph-modules/memory/src/lib/interfaces/memory-module-options.interface.ts
  libs/langgraph-modules/memory/src/lib/memory.module.ts
  libs/langgraph-modules/monitoring/src/lib/services/alerting.service.ts
  libs/langgraph-modules/monitoring/src/lib/services/performance-tracker.service.ts
  libs/langgraph-modules/multi-agent/src/lib/services/network-manager.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/base/streaming-workflow.base.ts
  task-tracking/TASK_CMD_010/implementation-plan.md
  task-tracking/TASK_CMD_010/progress.md
  task-tracking/TASK_CMD_010/research-report.md
  task-tracking/TASK_CMD_010/task-description.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

refactor: fix libraries build errors
  .claude/commands/agent-bootstrap.md
  .claude/commands/registry-utils.md
  .claude/commands/task-management.md
Due: prettier --write

feat(langgraph): implement TypeScript type safety and remove legacy code
  CODEBASE_OVERLAP_ANALYSIS_FINDINGS.md
  LANGGRAPH_ECOSYSTEM_ANALYSIS.md
  apps/dev-brand-api/src/app/adapters/hitl/neo4j-confidence-storage.adapter.ts
  apps/dev-brand-api/src/app/adapters/hitl/neo4j-feedback-storage.adapter.ts
  apps/dev-brand-api/src/app/app.module.ts
  docs/INFRASTRUCTURE_VALIDATION_REPORT.md
  libs/langgraph-modules/multi-agent/src/lib/interfaces/multi-agent.interface.ts
  libs/langgraph-modules/multi-agent/src/lib/services/multi-agent-coordinator.service.ts
  libs/langgraph-modules/time-travel/src/index.ts
  libs/langgraph-modules/time-travel/src/lib/interfaces/time-travel-metadata.interface.ts
  libs/langgraph-modules/time-travel/src/lib/interfaces/time-travel-metadata.test.ts
  libs/langgraph-modules/time-travel/src/lib/interfaces/time-travel.interface.ts
  libs/langgraph-modules/time-travel/src/lib/services/branch-manager.service.ts
  libs/langgraph-modules/time-travel/src/lib/services/execution-history.service.ts
  libs/langgraph-modules/time-travel/src/lib/services/time-travel.service.ts
  libs/langgraph-modules/time-travel/src/lib/services/workflow-registry.service.ts
  libs/langgraph-modules/time-travel/src/lib/services/workflow-replay.service.ts
  libs/langgraph-modules/time-travel/tsconfig.lib.json
  libs/langgraph-modules/time-travel/tsconfig.tsbuildinfo
  libs/langgraph-modules/workflow-engine/METADATA_TYPES_IMPLEMENTATION.md
  libs/langgraph-modules/workflow-engine/src/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/base/streaming-workflow.base.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/workflow-checkpoint.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/core/workflow-graph-builder.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-metadata.examples.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-metadata.interface.ts
  libs/langgraph-modules/workflow-engine/src/lib/interfaces/workflow-metadata.test.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/workflow-stream.service.ts
  libs/langgraph-modules/workflow-engine/src/lib/utils/workflow-engine-config.accessor.ts
Due: prettier --write, eslint --fix

feat(docs): initialize overlap analysis task TASK_2025_001
  apps/dev-brand-api/src/app/config/multi-agent.config.ts
  libs/langgraph-modules/time-travel/tsconfig.lib.json
  libs/langgraph-modules/workflow-engine/src/lib/workflow-engine.module.ts
  task-tracking/TASK_2025_001/context.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(docs): complete TASK_2025_001 - overlap analysis and source code verification
  .claude/commands/orchestrate.md
  .claude/settings.local.json
  task-tracking/TASK_2025_001/completion-report.md
  task-tracking/TASK_2025_001/context.md
  task-tracking/TASK_2025_001/implementation-plan.md
  task-tracking/TASK_2025_001/progress.md
  task-tracking/TASK_2025_001/research-report.md
  task-tracking/TASK_2025_001/task-description.md
  task-tracking/registry.md
Due: prettier --write

feat(docs): correct consolidation strategy based on infrastructure validation
  .claude/commands/agent-bootstrap.md
  .claude/commands/orchestrate.md
  .claude/commands/registry-utils.md
  .claude/commands/task-management.md
  task-tracking/TASK_2025_001/implementation-plan.md
  task-tracking/TASK_2025_001/infrastructure-integration-requirements.md
Due: prettier --write

refactor: fix libraries build errors
  .claude/agents/backend-developer.md
  .claude/agents/business-analyst.md
  .claude/agents/code-reviewer.md
  .claude/agents/frontend-developer.md
  .claude/agents/project-manager.md
  .claude/agents/senior-tester.md
  .claude/agents/software-architect.md
Due: prettier --write

chore: update docs
  .claude/agents/backend-developer.md
  .claude/agents/project-manager.md
  .claude/agents/researcher-expert.md
  .claude/agents/software-architect.md
  .claude/commands/orchestrate.md
  LANGGRAPH_ECOSYSTEM_ANALYSIS.md
  task-tracking/TASK_2025_001/task-description.md
  task-tracking/TASK_2025_006/implementation-plan.md
  task-tracking/TASK_2025_006/progress.md
  task-tracking/TASK_2025_006/research-report.md
  task-tracking/TASK_2025_006/task-description.md
  task-tracking/registry.md
Due: prettier --write

chore: checkpoint before starting new neo4j enhancement task
  libs/nestjs-neo4j/CLAUDE.md
  libs/nestjs-neo4j/README.md
  libs/nestjs-neo4j/src/index.ts
  libs/nestjs-neo4j/src/lib/decorators/enhanced/cypher-query.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/enhanced/decorator-metadata.interface.ts
  libs/nestjs-neo4j/src/lib/decorators/enhanced/entity.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/enhanced/index.ts
  libs/nestjs-neo4j/src/lib/decorators/enhanced/repository.decorator.ts
  libs/nestjs-neo4j/src/lib/interfaces/query-result.interface.ts
  libs/nestjs-neo4j/src/lib/neo4j.module.ts
  libs/nestjs-neo4j/src/lib/repositories/base-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/graph-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/index.ts
  libs/nestjs-neo4j/src/lib/repositories/relationship-repository.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-connection.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-health.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-metrics.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-query.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j.service.ts
  task-tracking/TASK_2025_005/implementation-plan.md
  task-tracking/TASK_2025_005/progress.md
Due: prettier --write, eslint --fix

feat(neo4j): initialize task - AI/LangGraph Specializations Enhancement
  task-tracking/TASK_2025_005/completion-report.md
  task-tracking/TASK_2025_005/context.md
  task-tracking/TASK_2025_005/implementation-plan.md
  task-tracking/TASK_2025_005/progress.md
  task-tracking/TASK_2025_005/task-description.md
  task-tracking/registry.md
Due: prettier --write

refactor: fix neo4j library
  .claude/settings.local.json
  libs/nestjs-neo4j/TYPESCRIPT_ERROR_ANALYSIS_FINAL_REPORT.md
  libs/nestjs-neo4j/package.json
  libs/nestjs-neo4j/src/index.ts
  libs/nestjs-neo4j/src/lib/constraints/unique.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/cypher-query.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/entity.decorator.ts
  libs/nestjs-neo4j/src/lib/decorators/transactional.decorator.ts
  libs/nestjs-neo4j/src/lib/neo4j.module.ts
  libs/nestjs-neo4j/src/lib/neogma/index.ts
  libs/nestjs-neo4j/src/lib/neogma/neogma.constants.ts
  libs/nestjs-neo4j/src/lib/neogma/neogma.decorators.ts
  libs/nestjs-neo4j/src/lib/neogma/neogma.interfaces.ts
  libs/nestjs-neo4j/src/lib/neogma/neogma.module.ts
  libs/nestjs-neo4j/src/lib/query-builder/neo4j-query-builder.ts
  libs/nestjs-neo4j/src/lib/repositories/base-repository.interface.ts
  libs/nestjs-neo4j/src/lib/repositories/crud-operations.ts
  libs/nestjs-neo4j/src/lib/repositories/graph-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/relationship-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/repository.decorator.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-connection.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-health.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-metrics.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-query.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j.service.ts
  libs/nestjs-neo4j/src/lib/services/neogma-connection.service.ts
  libs/nestjs-neo4j/src/lib/services/neogma-metrics.service.ts
  libs/nestjs-neo4j/src/lib/services/neogma.service.ts
  libs/nestjs-neo4j/src/lib/types/neo4j-types.ts
  libs/nestjs-neo4j/src/lib/utils/neo4j-config.accessor.ts
  package-lock.json
  package.json
  task-tracking/registry.md
Due: prettier --write, eslint --fix, npm run validate:package-json

chore: checkpoint before systematic Neo4j library type safety fixes
  .claude/settings.local.json
  docs/implementation-plans/COMPREHENSIVE_LANGGRAPH_ARCHITECTURAL_ANALYSIS.md
  libs/langgraph-modules/core/src/lib/interfaces/streaming.interface.ts
  libs/langgraph-modules/streaming/src/lib/adapters/streaming-service.adapter.ts
  libs/langgraph-modules/workflow-engine/src/lib/streaming/stream-management.service.ts
  libs/nestjs-neo4j/code-review.md
  libs/nestjs-neo4j/src/index.ts
  libs/nestjs-neo4j/src/lib/constants/neogma.constants.ts
  libs/nestjs-neo4j/src/lib/constraints/constraint.service.ts
  libs/nestjs-neo4j/src/lib/core/neogma.service.ts
  libs/nestjs-neo4j/src/lib/decorators/entity.decorator.ts
  libs/nestjs-neo4j/src/lib/neo4j.module.ts
  libs/nestjs-neo4j/src/lib/repositories/base-repository.interface.ts
  libs/nestjs-neo4j/src/lib/repositories/crud-operations.ts
  libs/nestjs-neo4j/src/lib/repositories/graph-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/index.ts
  libs/nestjs-neo4j/src/lib/repositories/neogma.repository.ts
  libs/nestjs-neo4j/src/lib/repositories/relationship-repository.ts
  libs/nestjs-neo4j/src/lib/repositories/repository.decorator.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-connection.service.ts
  libs/nestjs-neo4j/src/lib/services/neo4j-health.service.ts
  libs/nestjs-neo4j/src/lib/services/neogma.service.ts
  libs/nestjs-neo4j/src/lib/types/neogma-types.ts
  libs/nestjs-neo4j/tsconfig.lib.json
  task-tracking/TASK_2025_013/context.md
  task-tracking/registry.md
Due: prettier --write, eslint --fix

feat(chromadb): phase 0 foundation fixes
  apps/dev-brand-api/src/app/business-workflows/core/index.ts
  apps/dev-brand-api/src/app/business-workflows/core/memory/personal-brand-memory.service.ts
  apps/dev-brand-api/src/app/business-workflows/core/validation/workflow.validators.ts
  docs/dev_brand_ui/CONSOLIDATED_DECORATOR_UNIFICATION.md
  docs/dev_brand_ui/ENHANCED_AGENT_ARCHITECTURE_IMPLEMENTATION.md
  docs/dev_brand_ui/angular-mvp-library-research.md
  docs/dev_brand_ui/langgraph-libraries-analysis.md
  libs/nestjs-chromadb/src/index.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/operations/search-operations.ts
  libs/nestjs-chromadb/src/lib/embeddings/cohere.embedding.ts
  libs/nestjs-chromadb/src/lib/embeddings/huggingface.embedding.ts
  libs/nestjs-chromadb/src/lib/embeddings/openai.embedding.ts
  libs/nestjs-chromadb/src/lib/nestjs-chromadb.module.ts
  libs/nestjs-chromadb/src/lib/services/chromadb.service.ts
  libs/nestjs-chromadb/src/lib/utils/config/chromadb-config.accessor.ts
  libs/nestjs-chromadb/src/lib/utils/http/http-client.utils.ts
  task-tracking/TASK_2025_001/architecture-validation.md
  task-tracking/TASK_2025_001/implementation-plan.md
  task-tracking/TASK_2025_001/progress.md
  task-tracking/TASK_2025_001/quality-gates.md
  task-tracking/TASK_2025_001/task-description.md
  task-tracking/registry.md
  type-errors-baseline.txt
Due: prettier --write, eslint --fix

docs(task-2025-001): update phase 0 completion metrics
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write

feat(chromadb): Phase 1 - Critical type error elimination (33 errors fixed)
  .claude/settings.local.json
  libs/nestjs-chromadb/src/lib/decorators/repository/operations/aggregation-operations.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/operations/crud-operations.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-decorator.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-implementation.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-test-example.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-validator.ts
  libs/nestjs-chromadb/src/lib/decorators/utils/decorator-presets.ts
  libs/nestjs-chromadb/src/lib/embeddings/cohere.embedding.ts
  libs/nestjs-chromadb/src/lib/embeddings/openai.embedding.ts
  libs/nestjs-chromadb/src/lib/examples/01-basic-operations/01-basic-crud.example.ts
  libs/nestjs-chromadb/src/lib/examples/01-basic-operations/03-advanced-semantic-search.example.ts
  libs/nestjs-chromadb/src/lib/examples/basic/basic-repository.example.ts
  libs/nestjs-chromadb/src/lib/examples/integration/config-for-root-async.example.ts
  libs/nestjs-chromadb/src/lib/services/caching/cache-cleanup.service.ts
  libs/nestjs-chromadb/src/lib/services/chromadb.service.ts
  libs/nestjs-chromadb/src/lib/services/core/chromadb-collection.service.ts
  libs/nestjs-chromadb/src/lib/services/core/chromadb-document.service.ts
  libs/nestjs-chromadb/src/lib/services/core/chromadb-operations.service.ts
  libs/nestjs-chromadb/src/lib/services/core/chromadb-validation.service.ts
  libs/nestjs-chromadb/src/lib/services/core/validation/document-validator.service.ts
  libs/nestjs-chromadb/src/lib/services/core/validation/options-validator.service.ts
  libs/nestjs-chromadb/src/lib/services/facade/chromadb-embedding-processor.service.ts
  libs/nestjs-chromadb/src/lib/services/metadata-extractor.service.ts
  libs/nestjs-chromadb/src/lib/services/multi-tenant/multi-tenant.service.ts
Due: prettier --write, eslint --fix

feat(chromadb): Phase 2 - Final error elimination (31/32 errors fixed)
  libs/nestjs-chromadb/comprehensive-final.txt
  libs/nestjs-chromadb/current-errors.txt
  libs/nestjs-chromadb/final-check.txt
  libs/nestjs-chromadb/final-errors.txt
  libs/nestjs-chromadb/latest-errors.txt
  libs/nestjs-chromadb/src/lib/decorators/multi-tenant/examples/multi-tenant-usage-example.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-decorator.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-implementation.ts
  libs/nestjs-chromadb/src/lib/decorators/repository/repository-test-example.ts
  libs/nestjs-chromadb/src/lib/examples/01-basic-operations/01-basic-crud.example.ts
  libs/nestjs-chromadb/src/lib/examples/01-basic-operations/03-advanced-semantic-search.example.ts
  libs/nestjs-chromadb/src/lib/examples/advanced/error-handling-and-guards.example.ts
  libs/nestjs-chromadb/src/lib/examples/integration/config-for-root-async.example.ts
  libs/nestjs-chromadb/src/lib/examples/multi-tenant/cross-tenant-admin.example.ts
  libs/nestjs-chromadb/src/lib/examples/performance/cached.example.ts
  libs/nestjs-chromadb/src/lib/services/caching/cache-operations.service.ts
  libs/nestjs-chromadb/src/lib/services/caching/cache-statistics.service.ts
  libs/nestjs-chromadb/src/lib/services/caching/chroma-cache.service.ts
  libs/nestjs-chromadb/src/lib/services/facade/chromadb-embedding-processor.service.ts
  libs/nestjs-chromadb/src/lib/services/facade/chromadb-performance.service.ts
  libs/nestjs-chromadb/src/lib/services/multi-tenant/multi-tenant.service.ts
  libs/nestjs-chromadb/updated-errors.txt
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write, eslint --fix

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(TASK_2025_001): initialize task - agent architecture fixes
  task-tracking/TASK_2025_001/architecture-validation.md
  task-tracking/TASK_2025_001/context.md
  task-tracking/TASK_2025_001/implementation-plan.md
  task-tracking/TASK_2025_001/progress.md
  task-tracking/TASK_2025_001/quality-gates.md
  task-tracking/TASK_2025_001/task-description.md
  task-tracking/TASK_2025_002/architecture-design.md
  task-tracking/TASK_2025_002/implementation-plan.md
  task-tracking/TASK_2025_002/progress.md
  task-tracking/TASK_2025_002/task-description.md
  task-tracking/registry.md
Due: prettier --write

chore(TASK_2025_001): update branch name in registry
  task-tracking/registry.md
Due: prettier --write

feat(TASK_2025_001): fix workflow configuration propagation - use WORKFLOW_METADATA_KEY
  libs/langgraph-modules/multi-agent/src/lib/decorators/agent.decorator.ts
Due: prettier --write, eslint --fix

feat(TASK_2025_001): add smart defaults to @Agent decorator
  libs/langgraph-modules/multi-agent/src/lib/decorators/agent.decorator.ts
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write, eslint --fix

feat(TASK_2025_001): add type-safe metadata definitions and typed state interface
  apps/dev-brand-api/src/app/business-workflows/agents/shared/metadata.types.ts
  apps/dev-brand-api/src/app/business-workflows/types/index.ts
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write, eslint --fix

feat(TASK_2025_001): complete agent architecture fixes - all subtasks done
  TASK_2025_001_COMPLETION_SUMMARY.md
  apps/dev-brand-api/src/app/business-workflows/agents/content-creator/content-creator.agent.ts
  apps/dev-brand-api/src/app/business-workflows/agents/github-code-analyzer/github-code-analyzer.agent.ts
  apps/dev-brand-api/src/app/business-workflows/agents/personal-brand-strategist/personal-brand-strategist.agent.ts
  apps/dev-brand-api/src/app/business-workflows/agents/shared/metadata.types.ts
  apps/dev-brand-api/src/app/business-workflows/types/index.ts
  libs/langgraph-modules/workflow-engine/src/lib/services/central-registry.service.ts
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write, eslint --fix

docs(TASK_2025_001): update progress.md to reflect actual completion status
  task-tracking/TASK_2025_001/progress.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  eslint --fix: any of: *.{ts,js}
  npm run validate:package-json: any of: libs/*/package.json
